<template>
  <div class="page-ag-lag">
    <div class="header-container">
      <h3 class="title">Semua Genre</h3>
      <hr>
    </div>

    <div v-infinite-scroll="loadMoreGenres" class="list-container">
      <GenreBaseBadgeGenre
        v-for="genre in genres.data" :key="'badge-genre' + genre.slug" class="badge-genre"
        :genre="genre"
      />
    </div>

    <div v-if="genres.onFetchingGenres" class="loading-container">
      <OtherEllipsisLoading class="loading" color="#409eff"/>
    </div>
  </div>
</template>

<script>
import {StatusCodes} from "http-status-codes";
import {AxiosError} from "axios";

export default {
  data() {
    return {
      genres: {
        onFetchingGenres: false,
        payload: {
          paginated: true,
          page: 1,
          per_page: 18
        },
        totalData: 0,
        data: []
      }
    }
  },

  mounted() {
    this.fetchGenres()
  },

  methods: {
    loadMoreGenres() {
      if (this.genres.totalData > this.genres.data.length) {
        this.genres.payload.page++
        this.fetchGenres()
      }
    },

    async fetchGenres() {
      this.genres.onFetchingGenres = true

      try {
        const getGenresResp = await this.$services.genrePublic().getGenres({
          params: {
            paginated: this.genres.payload.paginated,
            per_page: this.genres.payload.per_page,
            page: this.genres.payload.page
          }
        })

        if (getGenresResp.status === StatusCodes.OK) {
          this.genres.data.push(...getGenresResp.data?.data?.genres?.data)
          this.genres.totalData = getGenresResp.data?.data?.genres?.total
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.genres.onFetchingGenres = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-ag-lag {
  .header-container {
    .title {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow-y: auto;

    .badge-genre:nth-child(n) {
      margin: 5px 8px;
      flex: 1;
    }
  }

  .loading-container {
    margin: 20px 0;
    text-align: center;

    .loading {
      //
    }
  }
}
</style>
