<template>
  <div
    id="page-contact-us"
    class="container"
  >
    <PageContactUsStaticContent/>
  </div>
</template>

<script>
export default {
  name: 'ContactUsPage',
  layout: 'home',

  head() {
    return {
      title: `Kontak Kami - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Kontak Kami ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Halaman kontak kami ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `halaman kontak kami ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Kontak Kami ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Halaman kontak kami ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `halaman kontak kami ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
#page-contact-us {
  padding: 3rem 0;
}
</style>
