<template>
  <div
    id="page-disclaimer"
    class="container"
  >
    <PageDisclaimerStaticContent/>
  </div>
</template>

<script>
export default {
  name: 'DisclaimerPage',
  layout: 'home',

  head() {
    return {
      title: `Disclaimer - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Disclaimer ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Halaman disclaimer ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `halaman disclaimer ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Disclaimer ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Halaman disclaimer ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `halaman disclaimer ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
#page-disclaimer {
  padding: 3rem 0;
}
</style>
