<template>
  <div
    id="page-privacy-policy"
    class="container"
  >
    <PagePrivacyPolicyStaticContent/>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicyPage',
  layout: 'home',

  head() {
    return {
      title: `Privacy Policy - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Privacy Policy ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Halaman privacy policy ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `halaman privacy policy ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Privacy Policy ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Halaman privacy policy ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `halaman privacy policy ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
#page-privacy-policy {
  padding: 3rem 0;
}
</style>
