<template>
  <div
    id="page-tac"
    class="container"
  >
    <PageTermsAndConditionsStaticContent/>
  </div>
</template>

<script>
export default {
  name: 'TermsAndConditionsPage',
  layout: 'home',

  head() {
    return {
      title: `Terms And Conditionals - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Terms And Conditionals ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Halaman terms and conditionals ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `halaman terms and conditionals ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Terms And Conditionals ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Halaman terms and conditionals ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `halaman terms and conditionals ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
#page-tac {
  padding: 3rem 0;
}
</style>
