<template>
  <div class="page-admin-mu-agf">
    <el-card shadow="always" class="add-genre-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Tambah Genre</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="addGenreForm"
        :model="addGenreForm"
        :rules="addGenreFormRules"
        :disabled="onAddGenreFormSubmitting"
        class="add-genre-form"
        label-position="top"
        @submit.native.prevent="submitAddGenreForm"
      >
        <el-form-item label="Nama" prop="name">
          <el-input v-model="addGenreForm.name"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onAddGenreFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      onGettingGenreRoles: false,
      onAddGenreFormSubmitting: false,
      addGenreForm: {
        name: '',
      },
      addGenreFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  methods: {
    submitAddGenreForm() {
      this.$refs.addGenreForm.validate(async (valid) => {
        if (!valid) return

        this.onAddGenreFormSubmitting = true

        try {
          const addGenreResp = await this.$services.genreAdmin().addGenre({
            data: {
              name: this.addGenreForm.name
            }
          })

          if (addGenreResp.status === StatusCodes.CREATED) {
            this.$message.success(addGenreResp.data?.message)
            this.$refs.addGenreForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-genre')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onAddGenreFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mu-agf {
  .add-genre-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .add-genre-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
