<template>
  <div class="page-admin-mu-egf">
    <el-card shadow="always" class="edit-genre-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Edit Genre</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="editGenreForm"
        :model="editGenreForm"
        :rules="editGenreFormRules"
        :disabled="onEditGenreFormSubmitting"
        class="edit-genre-form"
        label-position="top"
        @submit.native.prevent="submitEditGenreForm"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="editGenreForm.name"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onEditGenreFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  props: {
    genre: {
      type: Object,
      required: true,
    }
  },

  data() {
    return {
      onGettingGenreRoles: false,
      onEditGenreFormSubmitting: false,
      editGenreForm: {
        name: '',
      },
      editGenreFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  created() {
    this.onEditGenreFormSubmitting = true
    this.setGenre()
    this.onEditGenreFormSubmitting = false
  },

  methods: {
    setGenre() {
      this.editGenreForm.name = this.genre.name
    },

    submitEditGenreForm() {
      this.$refs.editGenreForm.validate(async (valid) => {
        if (!valid) return

        this.onEditGenreFormSubmitting = true

        try {
          const editGenreResp = await this.$services.genreAdmin().updateGenre({
            id: this.genre.id,
            data: {
              name: this.editGenreForm.name
            }
          })

          if (editGenreResp.status === StatusCodes.OK) {
            this.$message.success(editGenreResp.data?.message)
            this.$refs.editGenreForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-genre')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onEditGenreFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mu-egf {
  .edit-genre-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .edit-genre-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
