<template>
  <div class="page-admin-mg-lgt">
    <ModalBaseModalConfirmDelete ref="deleteModal" @confirmationResultDecided="deleteGenres"/>

    <el-card shadow="always" class="card-table shadow-sm">
      <div class="header-container">
        <h3 class="title">Daftar Genre</h3>
        <p class="subtitle">Total {{ listGenreTable.totalData }} Genre</p>
      </div>
      <div class="header-container">
        <div class="input-search-container">
          <el-input
            v-model="listGenreTable.payload.search"
            class="input-search"
            placeholder="Cari Genre"
            suffix-icon="el-icon-search"
            :disabled="listGenreTable.loading"
            clearable
            @change="handleTableSearchChange"
          ></el-input>
        </div>
        <div class="table-action-container">
          <el-button
            type="primary"
            icon="el-icon-plus"
            :disabled="listGenreTable.loading"
            @click.prevent="toAddGenrePage"
          >
            Tambah
          </el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            :disabled="!listGenreTable.selectedDataId.length || listGenreTable.loading"
            @click.prevent="deleteMultipleTableData"
          >
            Hapus
          </el-button>
        </div>
      </div>

      <data-tables-server
        v-loading="listGenreTable.loading"
        class="table-list-genre"
        :data="listGenreTable.data"
        :total="listGenreTable.totalData"
        :pagination-props="listGenreTable.paginationProps"
        :current-page="pageRouteQuery || listGenreTable.currentPage"
        @selection-change="handleTableSelectionChange"
        @query-change="handleTableQueryChange"
      >
        <el-table-column
          type="selection"
          width="55"
        />

        <el-table-column
          label="Slug"
          align="left"
          min-width="120px"
          sortable
          prop="slug"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.slug }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Nama"
          align="left"
          min-width="120px"
          sortable
          prop="name"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.name }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Created At"
          align="left"
          min-width="120px"
          sortable
          prop="created_at"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.created_at }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Aksi"
          align="center"
          min-width="140px"
          prop="dropdownAction"
        >
          <template slot-scope="scope">
            <div class="table-column-action">
              <el-button type="primary" icon="el-icon-edit" @click.prevent="toEditPage(scope.row.id)"/>
              <el-button
                type="danger"
                icon="el-icon-delete"
                @click.prevent="deleteSingleTableData(scope.row.id)"
              />
            </div>
          </template>
        </el-table-column>
      </data-tables-server>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    const defaultPaginationProps = this.$helpers.table.defaultPaginationProps

    return {
      listGenreTable: {
        loading: false,
        deleteModal: null,
        selectedDataId: [],
        deletePayload: {
          id: []
        },
        payload: {
          paginated: true,
          page: 1,
          per_page: defaultPaginationProps.pageSize,
          search: ''
        },
        data: [],
        totalData: 0,
        currentPage: 1,
        paginationProps: defaultPaginationProps
      }
    }
  },

  computed: {
    pageRouteQuery() {
      return this.$route.query.page || 1
    }
  },

  watch: {
    '$route.query': {
      handler() {
        this.setQueryToRequestPayload()
        this.fetchListGenreTableData()
      },
      deep: true
    }
  },

  mounted() {
    this.initDeleteModalComponent()
    this.setQueryToRequestPayload()
    this.fetchListGenreTableData()
  },

  methods: {
    handleTableSelectionChange(selectedData) {
      this.listGenreTable.selectedDataId = selectedData.map(data => data.id)
    },
    handleTableQueryChange(queryInfo) {
      if (queryInfo.type !== 'init') {
        this.setToQuery({
          page: queryInfo.page,
        })
      }
    },
    handleTableSearchChange(search) {
      if (search || search === '') {
        this.setToQuery({
          search
        })
      }
    },
    setQueryToRequestPayload() {
      const routeQueries = this.$route.query

      Object.assign(this.listGenreTable.payload, {
        page: routeQueries.page || this.listGenreTable.payload.page,
        search: routeQueries.search || this.listGenreTable.payload.search
      })
    },

    toAddGenrePage() {
      this.$router.push({
        path: '/admin/manage-genre/add'
      })
    },
    toEditPage(genreId) {
      this.$router.push({
        path: `/admin/manage-genre/edit/${genreId}`
      })
    },

    initDeleteModalComponent() {
      this.listGenreTable.deleteModal = this.getBootstrapModal(this.$refs.deleteModal.$el)
    },
    deleteSingleTableData(dataId) {
      this.listGenreTable.deletePayload.id = [dataId]
      this.listGenreTable.deleteModal.show()
    },
    deleteMultipleTableData() {
      if (this.listGenreTable.selectedDataId.length <= 0) {
        return this.$message({
          showClose: true,
          message: 'Harap pilih data yang akan dihapus',
          type: 'info'
        })
      }

      this.listGenreTable.deletePayload.id = this.listGenreTable.selectedDataId
      this.listGenreTable.deleteModal.show()
    },

    async fetchListGenreTableData() {
      this.listGenreTable.loading = true

      try {
        const getGenresResp = await this.$services.genreAdmin().getGenres({
          params: {
            paginated: this.listGenreTable.payload.paginated,
            page: this.listGenreTable.payload.page,
            per_page: this.listGenreTable.payload.per_page,
            search: this.listGenreTable.payload?.search
          }
        })

        if (getGenresResp.status === StatusCodes.OK) {
          this.listGenreTable.data = getGenresResp.data?.data?.genres?.data || []
          this.listGenreTable.totalData = getGenresResp.data?.data?.genres?.total || 0
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listGenreTable.loading = false
    },

    async deleteGenres() {
      this.listGenreTable.loading = true

      try {
        const getGenresResp = await this.$services.genreAdmin().deleteGenres({
          data: {
            id: this.listGenreTable.deletePayload.id
          }
        })

        if (getGenresResp.status === StatusCodes.OK) {
          this.$message.success(getGenresResp.data?.message)
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listGenreTable.selectedDataId = []
      this.listGenreTable.deletePayload = {
        id: []
      }
      await this.fetchListGenreTableData()
      this.listGenreTable.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mg-lgt {
  .card-table {
    .header-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;

      .title {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .subtitle {
        width: 100%;
        font-size: 1rem;
        font-weight: normal;
      }

      .table-action-container {
        flex-wrap: wrap;
        margin-left: auto;
      }

      .input-search-container {
        flex: 1;
        margin-right: 15px;
      }
    }

    .table-list-genre {
      padding-bottom: 15px;

      .table-column-action {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-admin-mg-lgt {
    .card-table {
      .header-container {
        display: inherit;

        .table-action-container {
          margin-left: unset;
          margin-top: 15px;
        }

        .input-search-container {
          width: 100%;
        }
      }
    }
  }
}
</style>
