<template>
  <div class="page-admin-ma-edit">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-8">
        <PageAdminManageAuthorEditAuthorForm :author="author"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminEditAuthorPage",
  layout: 'admin',

  async asyncData({$services, $helpers, params, redirect}) {
    try {
      const getAuthorResp = await $services.authorAdmin().getAuthor({
        id: params.id
      })

      return {
        author: getAuthorResp.data?.data?.author
      }
    } catch (e) {
      redirect({
        path: $helpers.route.filterRoutesByName($helpers.route.adminRoutes, 'manage-author')[0]?.path
      })
    }
  },

  data() {
    return {
      routeName: 'edit-author'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-ma-edit {
  //
}
</style>
