<template>
  <div class="page-login">
    <div class="card shadow card-login-form">
      <div class="card-body">
        <div class="header-container">
          <h3 class="title">Login</h3>
        </div>

        <div class="body-container">
          <el-form
            ref="ruleForm"
            :disabled="onLoginFormSubmitting"
            :model="loginForm"
            :rules="loginFormRules"
            label-position="top"
            label-width="120px"
            class="form-login"
            @submit.native.prevent="submitLoginForm"
          >
            <el-form-item label="Email" prop="email">
              <el-input v-model="loginForm.email" type="email"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="password">
              <el-input v-model="loginForm.password" type="password" show-password></el-input>
            </el-form-item>

            <div class="form-action-container">
              <el-button type="primary" native-type="submit" class="w-100" :disabled="onLoginFormSubmitting">
                {{ !onLoginFormSubmitting ? 'Login' : 'Login...' }}
              </el-button>
            </div>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {AxiosError} from "axios";

export default {
  middleware: ['guest'],

  data() {
    return {
      onLoginFormSubmitting: false,
      loginForm: {
        email: '',
        password: ''
      },
      loginFormRules: {
        email: [
          {
            required: true,
            message: 'Tolong masukan email anda',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'Tolong masukan email anda dengan benar',
            trigger: ['blur', 'change']
          }
        ],
        password: [
          {
            required: true,
            message: 'Tolong masukan password anda',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  head() {
    return {
      title: `Login - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Login ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Halaman login ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `halaman login ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Login ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Halaman login ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `halaman login ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  },

  methods: {
    submitLoginForm() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (!valid) return valid

        try {
          this.onLoginFormSubmitting = true

          this.$auth.strategies.local.options.endpoints.user.headers.Authorization = null
          await this.$auth.loginWith('local', {
            data: {
              email: this.loginForm.email,
              password: this.loginForm.password
            }
          })

          await this.$router.push(this.$store.getters['user/user/getUserRedirectPath'])
        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onLoginFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-login-form {
    min-width: 450px;
    border: none;
    border-radius: 15px;

    .card-body {
      padding: 30px;

      .header-container {
        margin-bottom: 20px;

        .title {
          font-size: 2rem;
          font-weight: 500;
          text-align: center;
        }
      }

      .form-action-container {
        margin-top: 35px;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-login {
    .card-login-form {
      min-width: unset;
      width: 100%;
      margin: 0 15px;
    }
  }
}
</style>

<style lang="scss">
.page-login {
  .card-login-form {
    .card-body {
      .body-container {
        .form-login {
          .el-form-item {
            margin-bottom: 30px;

            .el-form-item__label {
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
</style>
