<template>
  <div class="page-admin-mc-add">
    <PageAdminTitlePage :route-data="routeData"/>

    <PageAdminManageComicAddComicForm/>
  </div>
</template>

<script>
export default {
  name: "AdminAddComicPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'add-comic'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mc-add {
  //
}
</style>
