<template>
  <div class="page-admin-mc-list">
    <PageAdminTitlePage :route-data="routeData"/>

    <client-only>
      <PageAdminManageComicListComicTable/>
    </client-only>
  </div>
</template>

<script>
export default {
  name: "ManageComicPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'manage-comic'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mc-list {
  //
}
</style>
