<template>
  <div class="page-ac-fc">
    <div class="filter-container">
      <div class="filter-genre-container">
        <el-select
          v-model="selectedGenre"
          v-el-select-loadmore="loadMoreGenres"
          class="select-genre"
          placeholder="Pilih genre"
          :loading="genres.onFetchingGenres"
          :remote-method="searchGenres"
          multiple
          collapse-tags
          clearable
          filterable
          remote
        >
          <el-option
            v-for="genre in genres.data"
            :key="'select-' + genre.slug"
            :label="genre.name"
            :value="genre.slug">
          </el-option>
        </el-select>
      </div>

      <div class="filter-status-container">
        <el-select
          v-model="selectedStatus"
          class="select-status"
          placeholder="Pilih status"
          multiple
          collapse-tags
          clearable>
          <el-option
            v-for="status in statuses"
            :key="'select-' + status.slug"
            :label="status.name"
            :value="status.slug">
          </el-option>
        </el-select>
      </div>

      <div class="filter-type-container">
        <el-select
          v-model="selectedType"
          class="select-type"
          placeholder="Pilih tipe"
          multiple
          collapse-tags
          clearable>
          <el-option
            v-for="type in types"
            :key="'select-' + type.slug"
            :label="type.name"
            :value="type.slug">
          </el-option>
        </el-select>
      </div>

      <div class="filter-sort-container">
        <el-select
          v-model="selectedSort"
          class="select-sort"
          placeholder="Pilih sort"
          multiple
          collapse-tags
          clearable>
          <el-option
            v-for="sort in sorts"
            :key="'select-' + sort.slug"
            :label="sort.name"
            :value="sort.slug">
          </el-option>
        </el-select>
      </div>

      <div class="filter-action-container">
        <el-button type="primary" icon="el-icon-search" @click.prevent="onBtnSearchClicked">Cari</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      selectedGenre: [],
      genres: {
        onFetchingGenres: false,
        data: [],
        totalData: 0,
        payload: {
          paginated: true,
          page: 1,
          per_page: 20
        }
      },

      selectedStatus: [],
      statuses: [
        {
          id: '1',
          slug: 'ongoing',
          name: 'Ongoing'
        },
        {
          id: '2',
          slug: 'hiatus',
          name: 'Hiatus'
        },
        {
          id: '3',
          slug: 'completed',
          name: 'Completed'
        },
        {
          id: '4',
          slug: 'dropped',
          name: 'Dropped'
        }
      ],

      selectedType: [],
      types: [
        {
          id: '1',
          slug: 'manga',
          name: 'Manga'
        },
        {
          id: '2',
          slug: 'manhwa',
          name: 'Manhwa'
        },
        {
          id: '3',
          slug: 'manhua',
          name: 'Manhua'
        }
      ],

      selectedSort: [],
      sorts: [
        {
          id: '1',
          slug: 'a-z',
          name: 'A-Z'
        },
        {
          id: '2',
          slug: 'z-a',
          name: 'Z-A'
        },
        {
          id: '3',
          slug: 'added',
          name: 'Added'
        },
        {
          id: '4',
          slug: 'updated',
          name: 'Updated'
        }
      ]
    }
  },

  mounted() {
    this.setRouteQueryToInput()
    this.fetchGenres()
  },

  methods: {
    setRouteQueryToInput() {
      this.selectedGenre = this.$route.query.genre ? this.$route.query.genre.split(',') : []
      this.selectedStatus = this.$route.query.status ? this.$route.query.status.split(',') : []
      this.selectedType = this.$route.query.type ? this.$route.query.type.split(',') : []
      this.selectedSort = this.$route.query.sort ? this.$route.query.sort.split(',') : []
    },

    onBtnSearchClicked() {
      this.$router.push({
        query: {
          ...this.$route.query,
          genre: this.selectedGenre.length > 0 ? this.selectedGenre.join(',') : [],
          status: this.selectedStatus.length > 0 ? this.selectedStatus.join(',') : [],
          type: this.selectedType.length > 0 ? this.selectedType.join(',') : [],
          sort: this.selectedSort.length > 0 ? this.selectedSort.join(',') : []
        }
      })
    },

    // Genres
    searchGenres(query) {
      this.genres.payload.search = query
      this.genres.payload.page = 1
      this.genres.data = []
      this.fetchGenres()
    },
    loadMoreGenres() {
      if (this.genres.totalData > this.genres.data.length) {
        this.genres.payload.page++
        this.fetchGenres()
      }
    },
    async fetchGenres() {
      this.genres.onFetchingGenres = true

      try {
        const getGenreResp = await this.$services.genrePublic().getGenres({
          params: {
            paginated: this.genres.payload.paginated,
            page: this.genres.payload.page,
            per_page: this.genres.payload.per_page,
            search: this.genres.payload?.search
          }
        })

        if (getGenreResp.status === StatusCodes.OK) {
          this.genres.data.push(...getGenreResp.data?.data?.genres?.data)
          this.genres.totalData = getGenreResp.data?.data?.genres?.total
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.genres.onFetchingGenres = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-ac-fc {
  margin: 10px 0;

  .filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    div:nth-child(n) {
      margin: 5px 8px;
    }

    div:first-child, div:last-child {
      margin: 5px 0;
    }

    .filter-genre-container {
      .select-genre {
        cursor: pointer;
      }
    }

    .filter-status-container {
      .select-status {
        cursor: pointer;
      }
    }

    .filter-type-container {
      .select-type {
        cursor: pointer;
      }
    }

    .filter-sort-container {
      .select-sort {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1399px) {
    .filter-container {
      justify-content: center;
    }
  }
}
</style>
