<template>
  <div class="page-ac-lac">
    <div class="header-container">
      <h3 class="title">Semua Komik</h3>
      <hr>
    </div>

    <div class="filter-container">
      <PageAllComicFilterComic/>
    </div>

    <div class="list-container">
      <ComicBaseCardPopular
        v-for="comic in comics"
        :key="'comic-' + comic.id"
        :comic="comic"
        class="comic-item"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      comics: [
        {
          id: '1',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          type: 'Manhwa',
          rating: 4.5,
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            }
          ]
        },
        {
          id: '2',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          type: 'Manhwa',
          rating: 4.6,
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            }
          ]
        },
        {
          id: '3',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          type: 'Manhwa',
          rating: 4.7,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            }
          ]
        },
        {
          id: '4',
          title: 'Leveling With The Gods',
          slug: 'leveling-with-the-gods',
          cover: '/img/comic/cover-example-4.jpg',
          type: 'Manhwa',
          rating: 4.8,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '10 minutes ago'
            }
          ]
        },
        {
          id: '5',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          type: 'Manhwa',
          rating: 4.9,
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            }
          ]
        },
        {
          id: '6',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          type: 'Manhwa',
          rating: 5.0,
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            }
          ]
        },
        {
          id: '7',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          type: 'Manhwa',
          rating: 4.5,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            }
          ]
        },
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-ac-lac {

  .header-container {
    .title {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;

    .comic-item {
      margin: 12px 7px;
    }
  }

  .filter-container {
    margin: 15px 0;
  }
}

@media (max-width: 991px) {
  .page-ac-lac {
    .header-container {
      .title {
        text-align: center;
      }
    }

    .list-container {
      justify-content: center;
    }
  }
}
</style>
