<template>
  <nav class="navbar navbar-expand-lg page-admin-navbar">
    <div class="nav-container">
      <div class="hamburger-container">
        <div class="hamburger hamburger--collapse" :class="{ 'is-active': isSidebarOpened }" @click="openSidebar">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>

      <div class="brand-logo-container">
        <nuxt-link
          class="brand-logo"
          :to="adminDashboardPath"
        >{{ appName }}
        </nuxt-link>
      </div>

      <div class="nav-item-container">
        <el-dropdown class="dropdown-account" trigger="click" @command="handelDropdownAccountCommand">
          <span class="el-dropdown-link">
            {{ $auth.user.name }}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="profile">Profil</el-dropdown-item>
            <el-dropdown-item command="change-password">Ganti Password</el-dropdown-item>
            <el-dropdown-item command="logout" divided>Logout</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </nav>
</template>

<script>
import {mapState} from 'vuex'

export default {
  data() {
    return {
      isSidebarOpened: false
    }
  },

  computed: {
    ...mapState('config', ['appName']),

    adminDashboardPath() {
      return this.$helpers.route.dashboardPaths.admin;
    },

    editProfileRoute() {
      return this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'edit-profile')[0]
    },

    editProfileChangePasswordRoute() {
      return this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'edit-profile-change-password')[0]
    },
  },

  mounted() {
    this.$nuxt.$on('sidebar-opened', (isSidebarOpened) => {
      this.isSidebarOpened = isSidebarOpened
    })
  },

  methods: {
    openSidebar() {
      this.isSidebarOpened = !this.isSidebarOpened
      this.$nuxt.$emit('sidebar-opened', this.isSidebarOpened)
    },

    handelDropdownAccountCommand(command) {
      switch (command) {
        case 'profile':
          this.$router.push({
            path: this.editProfileRoute?.path
          });
          break
        case 'change-password':
          this.$router.push({
            path: this.editProfileChangePasswordRoute?.path
          });
          break
        case 'logout':
          this.$auth.logout();
          break
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  color: #000;
  box-shadow: 0 2px 6px 0 rgb(151 184 220 / 25%);
  z-index: 1001;
  padding: 0 32px;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .hamburger-container {
      display: none;
    }

    .brand-logo-container {
      display: flex;
      align-items: center;

      .brand-logo {
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: #000000;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
      }
    }

    .nav-item-container {
      .dropdown-account {
        .dropdown-item-link {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .page-admin-navbar {
    .nav-container {
      .hamburger-container {
        display: block;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  transform: scale(0.8);
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
</style>

<style lang="scss">
.el-dropdown-menu {
  .el-dropdown-menu__item {
    .dropdown-item-link {
      text-decoration: none;
      color: #000;
    }
  }
}
</style>
