<template>
  <div class="page-admin-sidebar" :class="{ 'is-opened': isSidebarOpened }">
    <PageAdminSidebarNavItem/>
  </div>
</template>

<script>


export default {
  name: "TheSidebar",

  data() {
    return {
      isSidebarOpened: false
    }
  },

  mounted() {
    this.$nuxt.$on('sidebar-opened', (isSidebarOpened) => {
      this.isSidebarOpened = isSidebarOpened
    })
  },
}
</script>

<style lang="scss" scoped>
.page-admin-sidebar {
  position: fixed;
  width: 275px;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #fff;
  transition: .2s ease-in;
  box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
  padding: 20px 32px;
  margin-top: 70px;

  .hr-brand {
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
    height: 1px;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .page-admin-sidebar {
    left: -275px;
  }

  .page-admin-sidebar.is-opened {
    left: 0;
  }
}
</style>
