<template>
  <div class="page-admin-pt">
    <h3 class="title">{{ routeData.label }}</h3>
    <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
      <el-breadcrumb-item
        v-for="(breadcrumb, index) in routeData.breadcrumbs" :key="routeData.name + '-' + index"
        :to="{ path: breadcrumb.path }"
      >
        {{ breadcrumb.label }}
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  props: {
    routeData: {
      type: Object,
      required: true
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-pt {
  margin-bottom: 30px;

  .title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .breadcrumb {
    margin-left: 5px;
  }
}
</style>
