<template>
  <el-card
    class="summary-card"
    shadow="always"
  >
    <div class="rating-container">
      <el-rate
        v-model="ratingComic"
        class="rating"
        show-score
        text-color="#ff9900"
        score-template="{value}"
      />
    </div>

    <div class="info-container">
      <div class="row">
        <div class="col-lg-8">
          <table class="table table-borderless info-table">
            <tbody>
            <tr>
              <td class="key">
                Rating
              </td>
              <td>
                {{ ratingComic }}
              </td>
            </tr>
            <tr>
              <td class="key">
                Rank
              </td>
              <td>
                {{ comic.rank }}
              </td>
            </tr>
            <tr>
              <td class="key">
                Alternatif
              </td>
              <td>
                {{ comic.alternatif_title }}
              </td>
            </tr>
            <tr>
              <td class="key">
                Author
              </td>
              <td>
                {{ comic.author_name }}
              </td>
            </tr>
            <tr>
              <td class="key">
                Genres
              </td>
              <td>
                <nuxt-link
                  v-for="genre in comic.genres"
                  :key="comic.title + '-genre-' + genre.name"
                  :to="'/comics?genre=' + genre.slug"
                  class="genre-link">
                  {{ genre.name }},
                </nuxt-link>
              </td>
            </tr>
            <tr>
              <td class="key">
                Tipe
              </td>
              <td>
                {{ comic.type }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <table class="table table-borderless info-table">
            <tbody>
            <tr>
              <td class="key">
                Tahun
              </td>
              <td>
                {{ comic.year_released }}
              </td>
            </tr>
            <tr>
              <td class="key">
                Status
              </td>
              <td>
                {{ comic.status }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  },

  computed: {
    ratingComic() {
      return this.comic.rating
    },
    genresComic() {
      let genres = ''

      this.comic.genres.forEach(genre => {
        genres += genre.name + ', '
      });

      return genres
    }
  }
}
</script>

<style lang="scss" scoped>
.summary-card {
  border-radius: 20px;
  height: 100%;

  .rating-container {
    .rating {
      display: flex;
      align-items: center;
    }
  }

  .info-container {
    margin-top: 15px;
    margin-left: 7px;

    .info-table {
      width: 100%;

      tr {
        td {
          padding: 5px;

          .genre-link {
            color: #000;
            text-decoration: none;
          }
        }

        td.key {
          width: 100px;
        }
      }
    }
  }
}
</style>
