<template>
  <el-card
    class="summary-card"
    shadow="always"
  >
    <div class="synopsis-container">
      <p class="synopsis">{{ comic.synopsis }}</p>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.summary-card {
  border-radius: 20px;
  height: 100%;

  .synopsis-container {
    .synopsis {
      text-align: justify;
      margin-bottom: 0;
    }
  }
}
</style>
