<template>
  <div class="page-cd-lc">
    <div class="title-container">
      <h3 class="title">LATEST RELEASES</h3>
      <span class="sort-icon" @click.prevent="changeChapterOrder"><i class="el-icon-sort"></i></span>
    </div>

    <div class="list-container">
      <ComicBaseListItemChapter v-for="chapter in sortedChapters" :key="comic.title + '-' + chapter.id" :chapter="chapter" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      chapterOrder: 'desc',
      chapters: [
        {
          id: '107',
          comic_slug: 'nano-machine',
          title: 'Chapter 107',
          slug: 'chapter-107',
          cover: '/img/comic/chapter-cover-example-1.png',
          release_date: 'April 1, 2022',
          sequence: 107
        },
        {
          id: '108',
          comic_slug: 'nano-machine',
          title: 'Chapter 108',
          slug: 'chapter-108',
          cover: '/img/comic/chapter-cover-example-2.png',
          release_date: 'April 2, 2022',
          sequence: 108
        },
        {
          id: '109',
          comic_slug: 'nano-machine',
          title: 'Chapter 109',
          slug: 'chapter-109',
          cover: '/img/comic/chapter-cover-example-3.png',
          release_date: 'April 3, 2022',
          sequence: 109
        },
        {
          id: '110',
          comic_slug: 'nano-machine',
          title: 'Chapter 110',
          slug: 'chapter-110',
          cover: '/img/comic/chapter-cover-example-4.png',
          release_date: 'April 4, 2022',
          sequence: 110
        }
      ]
    }
  },

  computed: {
    sortedChapters() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.chapters.sort((a, b) => {
        if (this.chapterOrder === 'asc') {
          return a.sequence - b.sequence;
        } else {
          return b.sequence - a.sequence;
        }
      })
    }
  },

  methods: {
    changeChapterOrder() {
      this.chapterOrder = this.chapterOrder === 'asc' ? 'desc' : 'asc';
    }
  }
}
</script>

<style lang="scss" scoped>
.page-cd-lc {
  margin-bottom: 3rem;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 18px;
      text-transform: capitalize;
    }

    .sort-icon {
      font-size: 25px;
      color: #000;
      cursor: pointer;
    }
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    max-height: 900px;
    overflow-y: auto;
  }
}
</style>
