<template>
  <div class="page-cd-tc">
    <div class="container">
      <PageComicDetailListChapter :comic="comic" />

      <client-only>
        <Disqus />
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.page-cd-tc {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 0 20px 0 #eee;
  padding-top: 40px;
}

@media (max-width: 576px) {
  .page-cd-tc {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
</style>
