<template>
  <div class="page-cd-ts">
    <div class="header-container">
      <h1 class="title">{{ comic.title }}</h1>
    </div>

    <div class="row body-container">
      <div class="col-md-5 col-lg-3 cover-container">
        <img
          class="cover-img"
          :src="comic.cover"
          alt="Cover Comic"
        >
      </div>

      <div class="col-md-7 col-lg-9 summary-container">
        <el-tabs class="summary-tab">
          <el-tab-pane label="Info">
            <PageComicDetailCardInfo :comic="comic" />
          </el-tab-pane>
          <el-tab-pane label="Sinopsis">
            <PageComicDetailCardSynopsis :comic="comic" />
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.page-cd-ts {
  .header-container {
    .title {
      font-size: 3.5em;
      text-align: center;
      text-shadow: 0 0 9px #eee;
    }
  }

  .body-container {
    justify-content: space-between;
    margin-top: 40px;

    .cover-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .cover-img {
        width: 100%;
        max-width: 320px;
        object-fit: fill;
      }
    }

    .summary-container {
      display: flex;
      align-items: center;

      .summary-tab {
        position: relative;
      }

      @media (max-width: 767px) {
        .summary-tab {
          margin-top: 30px;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.page-cd-ts {
  .body-container {
    .summary-container {
      .summary-tab {
        width: 100%;
        .el-tabs__header {
          width: 100%;
          display: flex;
          justify-content: center;

          .el-tabs__active-bar {
            display: none;
          }
          .el-tabs__item {
            margin: 0 5px;
            padding: 0px 20px;
            height: unset;
            font-size: 14px;
            font-weight: 400;
            color: #409eff;
            border: 1px solid #409eff;
            border-radius: 15px;
          }
          .el-tabs__item:hover {
            background: #409eff;
            color: #fff;
          }

          .el-tabs__item.is-active {
            background: #409eff;
            color: #fff;
          }
        }

        .el-tabs__nav-wrap::after {
          content: none;
        }

        .el-tabs__content {
          width: 100%;
          padding: 10px;
          flex: 1;

          .el-tab-pane {
            height: 100%;
          }
        }

        .summary-card {
          .el-card__body {
            padding: 25px;

            .rating-container {
              .rating {
                .el-rate__item {
                  .el-rate__icon {
                    font-size: 35px;
                    margin-right: -2px;
                  }
                }

                .el-rate__text {
                  margin-left: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
