<template>
  <div class="page-admin-profile-cp">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-6">
        <PageAdminProfileChangePasswordForm/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'admin',

  data() {
    return {
      routeName: 'edit-profile-change-password',
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-profile-cp {
  //
}
</style>
