<template>
  <div class="page-admin-profile-cpf">
    <el-card shadow="always" class="card-change-password shadow-sm">
      <div class="header-container">
        <h3 class="title">Ganti Password</h3>
        <hr>
      </div>

      <div class="body-container">
        <el-form
          ref="changePasswordForm"
          :model="changePasswordForm"
          :rules="changePasswordFormRules"
          :disabled="onChangePasswordFormSubmitting"
          label-position="top"
          class="change-password-form"
          @submit.native.prevent="submitChangePasswordForm"
        >
          <el-form-item label="Password Lama" prop="old_password">
            <el-input v-model="changePasswordForm.old_password" show-password></el-input>
          </el-form-item>
          <el-form-item label="Password Baru" prop="new_password">
            <el-input v-model="changePasswordForm.new_password" show-password></el-input>
          </el-form-item>
          <el-form-item label="Konfirmasi Password Baru" prop="new_password_confirmation">
            <el-input v-model="changePasswordForm.new_password_confirmation" show-password></el-input>
          </el-form-item>

          <div class="form-action-container">
            <el-button type="primary" native-type="submit" :disabled="onChangePasswordFormSubmitting">
              {{ !onChangePasswordFormSubmitting ? 'Ubah Password' : 'Mengubah...' }}
            </el-button>
          </div>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
import {StatusCodes} from "http-status-codes";
import {AxiosError} from "axios";

export default {
  data() {
    return {
      onChangePasswordFormSubmitting: false,

      changePasswordForm: {
        old_password: '',
        new_password: '',
        new_password_confirmation: ''
      },

      changePasswordFormRules: {
        old_password: [
          {
            required: true,
            message: 'Tolong masukan password lama anda',
            trigger: ['blur', 'change']
          }
        ],
        new_password: [
          {
            required: true,
            message: 'Tolong masukan password baru anda',
            trigger: ['blur', 'change']
          },
          {
            min: 6,
            message: 'Password baru minimal 6 huruf',
            trigger: ['blur', 'change']
          }
        ],
        new_password_confirmation: [
          {
            validator: (rule, value, callback) => {
              if (value === '') {
                callback(new Error('Tolong masukan konfirmasi password baru'));
              } else if (value !== this.changePasswordForm.new_password) {
                callback(new Error('Konfirmasi password baru tidak sama'));
              } else {
                callback();
              }
            },
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  methods: {
    submitChangePasswordForm() {
      this.$refs.changePasswordForm.validate(async (valid) => {
        if (!valid) return

        this.onChangePasswordFormSubmitting = true

        try {
          const changePasswordResp = await this.$services.userGeneral().changePasswordUserLoggedIn({
            data: {
              old_password: this.changePasswordForm.old_password,
              new_password: this.changePasswordForm.new_password,
              new_password_confirmation: this.changePasswordForm.new_password_confirmation
            }
          })

          if (changePasswordResp.status === StatusCodes.OK) {
            this.$message.success(changePasswordResp.data.message)
            this.$refs.changePasswordForm.resetFields()
          }
        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onChangePasswordFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-profile-cpf {
  .card-change-password {
    .header-container {
      .title {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .body-container {
      .change-password-form {
        .form-action-container {
          padding-top: 15px;
        }
      }
    }
  }
}
</style>
