<template>
  <div class="page-admin-profile-epf">
    <el-card shadow="always" class="card-profile shadow-sm">
      <div class="header-container">
        <h3 class="title">Profil</h3>
        <hr>
      </div>

      <div class="body-container">
        <el-form
          ref="userEditForm"
          :model="userEditForm"
          :rules="userEditFormRules"
          :disabled="onUserEditFormSubmitting"
          label-position="top"
          class="user-edit-form"
          @submit.native.prevent="submitUserEditForm"
        >
          <el-form-item label="Name" prop="name">
            <el-input v-model="userEditForm.name"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input v-model="userEditForm.email"></el-input>
          </el-form-item>

          <div class="form-action-container">
            <el-button type="primary" native-type="submit" :disabled="onUserEditFormSubmitting">
              {{ !onUserEditFormSubmitting ? 'Simpan' : 'Menyimpan...' }}
            </el-button>
          </div>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
import {StatusCodes} from "http-status-codes";
import {AxiosError} from "axios";

export default {
  data() {
    return {
      onUserEditFormSubmitting: false,

      userEditForm: {
        name: '',
        email: ''
      },

      userEditFormRules: {
        name: [
          {
            required: true,
            message: 'Tolong masukan nama anda',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ],
        email: [
          {
            required: true,
            message: 'Tolong masukan email anda',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'Tolong masukan email anda dengan benar',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  computed: {
    userLoggedIn() {
      return this.$auth.user
    }
  },

  created() {
    this.setFormInputValue()
  },

  methods: {
    setFormInputValue() {
      this.userEditForm.name = this.userLoggedIn.name
      this.userEditForm.email = this.userLoggedIn.email
    },

    submitUserEditForm() {
      this.$refs.userEditForm.validate(async (valid) => {
        if (!valid) return

        this.onUserEditFormSubmitting = true

        try {
          const userEditResp = await this.$services.userGeneral().updateUserLoggedIn({
            data: {
              name: this.userEditForm.name,
              email: this.userEditForm.email
            }
          })

          if (userEditResp.status === StatusCodes.OK) {
            this.$message.success(userEditResp.data?.message)
            this.$auth.fetchUser()
          }
        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onUserEditFormSubmitting = false
      })
    }
  }

}
</script>

<style lang="scss" scoped>
.page-admin-profile-epf {
  .card-profile {
    .header-container {
      .title {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .body-container {
      .user-edit-form {
        .form-action-container {
          padding-top: 15px;
        }
      }
    }
  }
}
</style>
