<template>
  <div class="comic-bbr">
    {{ rank }}
  </div>
</template>

<script>
export default {
  props: {
    rank: {
      type: Number,
      required: true
    },
  }
}
</script>

<style lang="scss">
.comic-bbr {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #409eff;
  border: 2px solid rgb(228, 231, 237);
  border-radius: 3px;
  font-weight: 500;
}
</style>