<template>
  <div class="comic-bct">
    <div class="rank-container">
      <ComicBaseBadgeRank :rank="comic.rank" />
    </div>
    <div class="cover-container">
      <el-image class="cover-img" :src="comic.cover" alt="cover-comic" lazy>
        <div slot="placeholder" class="image-slot"></div>
        <div slot="error" class="image-slot" >
          <i class="el-icon-picture-outline"></i>
        </div>
      </el-image>
    </div>
    <div class="body-container">
      <div class="title-container">
        <p class="title">{{ comic.title }}</p>
      </div>
      <div class="rating-container">
        <el-rate
          v-model="ratingComic"
          class="rating"
          disabled
          show-score
          text-color="#ff9900"
          score-template="{value}"
        >
        </el-rate>
      </div>
    </div>
    <nuxt-link
      class="link"
      :to="'/comics/' + comic.slug"
    >
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  },

  computed: {
    ratingComic() {
      return this.comic.rating
    }
  }
}
</script>

<style lang="scss" scoped>
.comic-bct {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;

  .rank-container {
    margin-right: 15px;
  }

  .cover-container {
    width: 58px;
    height: 83px;

    .cover-img {
      width: 58px;
      height: 83px;
      object-fit: fill;
    }
  }

  .body-container {
    margin-left: 7px;

    .title-container {
      position: relative;
      width: 100%;

      .title {
        font-size: 15px;
        font-weight: 500;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        margin-bottom: 0;
        margin-left: 3px;
      }
    }

    .rating-container {
      .rating {
        display: flex;
        align-items: center;
      }
    }
  }

  .link {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
</style>

<style lang="scss">
.comic-bct {
  .cover-img {
    .image-slot {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #f5f7fa;
      color: #909399;

      i {
        font-size: 20px;
      }
    }
  }

  .body-container {
    .rating-container {
      .rating {
        .el-rate__item {
          .el-rate__icon {
            font-size: 23px;
            margin-right: -2px;
          }
        }

        .el-rate__text {
          margin-left: 7px;
        }
      }
    }
  }
}
</style>
