<template>
  <div class="comic-bd">
    <div class="header-container">
      <h3 class="title">{{ title }}</h3>
    </div>

    <client-only>
      <Disqus />
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'DISCUSSION'
    }
  }
}
</script>

<style lang="scss" scoped>
.comic-bd {
  .header-container {
    .title {
      font-family: serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 30px;
      text-transform: capitalize;
      text-align: center;
    }
  }
}
</style>
