<template>
  <div class="comic-buci">
    <div
      class="comic-cover-uploader"
      :style="{ width: (width + 'px'), height: (height + 'px') }"
      @click.prevent="onClickUploader"
    >
      <img
        v-if="imageUrl"
        :src="imageUrl"
        class="avatar"
        alt="Cover Image"
        :style="{ width: (width + 'px'), height: (height + 'px'), lineHeight: (height + 'px') }"
      >
      <i
        v-else
        class="el-icon-plus avatar-uploader-icon"
        :style="{ width: (width + 'px'), height: (height + 'px'), lineHeight: (height + 'px') }"
      ></i>
    </div>
    <input ref="coverImageInput" type="file" accept="image/jpeg" hidden @change="onFileChange"/>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 178
    },
    height: {
      type: Number,
      default: 260
    },
    medias: {
      type: Array,
      default: () => []
    }
  },

  data() {
    return {
      uploadCoverImageForm: {
        mediaName: 'cover',
        file: null
      }
    }
  },

  computed: {
    imageUrl() {
      if (!this.uploadCoverImageForm.file) return ''

      return this.uploadCoverImageForm.file instanceof File
        ? URL.createObjectURL(this.uploadCoverImageForm.file)
        : this.uploadCoverImageForm.file
    }
  },

  mounted() {
    this.setMedias()
  },

  methods: {
    setMedias() {
      const selectedMedia = this.medias.filter(media => {
        return media.name === this.uploadCoverImageForm.mediaName && media.variant === 'original'
      })[0]

      if (selectedMedia) {
        this.uploadCoverImageForm.file = selectedMedia.value
      }
    },

    onClickUploader() {
      this.$refs.coverImageInput.click()
    },
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;

      if (!files.length) {
        return this.$message.error('Failed to get file');
      }

      const file = files[0]
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        return this.$message.error('Gambar harus dalam format JPG!');
      }
      if (!isLt2M) {
        return this.$message.error('Ukuran gambar tidak boleh melebihi 2MB!');
      }

      this.uploadCoverImageForm.file = files[0];
      this.$emit('onFileChange', this.uploadCoverImageForm.file)
    },

    handleBeforeUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('Avatar picture must be JPG format!');
      }
      if (!isLt2M) {
        this.$message.error('Avatar picture size can not exceed 2MB!');
      }

      return isJPG && isLt2M;
    }
  }
}
</script>

<style lang="scss">
.comic-buci {
  text-align: center;

  .comic-cover-uploader {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      text-align: center;
    }

    .avatar {
      display: block;
      max-width: 100%;
    }
  }

  .comic-cover-uploader:hover {
    border-color: #409EFF;
  }
}
</style>
