<template>
  <div class="comic-bcb">
    <span class="name">{{ chapter.name }}</span>
    <span class="time">{{ chapter.relative_time }}</span>
    <nuxt-link
      class="link"
      :to="'/comics/' + comicSlug + '/chapters/' + chapter.slug"
    ></nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    comicSlug: {
      type: String,
      required: true
    },
    chapter: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scope>
.comic-bcb {
  position: relative;
  width: 100%;
  font-weight: 500;
  background-color: #eee;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  .name {
    font-size: 14px;
  }

  .time {
    font-size: 10.5px;
    margin-top: 3px;
  }

  .link {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
</style>