<template>
  <div class="comic-bc">
    <div class="cover-container">
      <el-image class="cover-img" :src="comic.cover" alt="cover-comic" lazy>
        <div slot="placeholder" class="image-slot"></div>
        <div slot="error" class="image-slot" >
          <i class="el-icon-picture-outline"></i>
        </div>
      </el-image>
      <nuxt-link
        class="link"
        :to="'/comics/' + comic.slug"
      />
      <span class="type"><label>{{ comic.type }}</label></span>
    </div>
    <div class="title-container">
      <p class="title">{{ comic.title }}</p>
      <nuxt-link
        class="link"
        :to="'/comics/' + comic.slug"
      ></nuxt-link>
    </div>
    <div class="body-container">
      <div class="list-chapter-container">
        <ComicBaseBadgeChapter
          v-for="chapter in comic.chapters"
          :key="'comic-' + comic.id + '-' + chapter.id"
          :comic-slug="comic.slug"
          :chapter="chapter"
        />
      </div>
      <nuxt-link
        class="link"
        :to="'/comic/' + comic.slug"
      ></nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comic: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.comic-bc {
  position: relative;
  width: 178px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  .cover-container {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .cover-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: fill;
      transition: 0.2s ease-in-out;
    }
    .type {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      background: #d33;
      color: #fff;
      border-radius: 5px;
      padding: 7px 8px;
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 2;
    }
  }

  .title-container {
    position: relative;
    width: 100%;
    margin: 5px 0 10px 0;
    .title {
      font-weight: 500;
      margin-bottom: 0;
      font-size: 17px;
      text-align: center;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  }

  .cover-container:hover .cover-img {
    transform: scale(1.1);
  }

  .body-container {
    position: relative;
    width: 100%;

    .list-chapter-container {
      width: 100%;
    }
  }

  .link {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
</style>

<style lang="scss">
.comic-bc {
  .cover-container {
    .cover-img {
      .image-slot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #f5f7fa;
        color: #909399;

        i {
          font-size: 30px;
        }
      }
    }
  }
}
</style>
