<template>
  <div class="comic-blic">
    <div class="cover-container">
      <img :src="chapter.cover" alt="Chapter Cover Image" class="cover">
    </div>
    <div class="detail-container">
      <div class="title">{{ chapter.title }}</div>
      <div class="release-date">{{ chapter.release_date }}</div>
    </div>

    <nuxt-link class="link" :to="'/comics/' + chapter.comic_slug + '/chapters/' + chapter.slug" />
  </div>
</template>

<script>
export default {
  props: {
    chapter: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.comic-blic {
  position: relative;
  border: 1px solid #eee;
  border-radius: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 386px;
  margin: 5px;

  .cover-container {
    max-width: 133px;
    max-height: 80px;
    object-fit: cover;

    .cover {
      width: 100%;
      height: 100%;
    }
  }

  .detail-container {
    padding: 10px;
    flex: 1;

    .title {
      font-size: 16px;
      font-weight: 500;
    }

    .release-date {
      font-size: 12px;
      font-style: italic;
    }
  }

  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
</style>
