<template>
  <div class="page-admin-mar-add">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-8">
        <PageAdminManageArtistAddArtistForm/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminAddArtistPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'add-artist'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mar-add {
  //
}
</style>
