<template>
  <div class="nav-container">
    <ul class="nav-item-container">
      <li v-for="adminSidebarItem in adminSidebarItems" :key="'ni-' + adminSidebarItem.name" class="nav-item">
        <nuxt-link class="nav-link" :to="adminSidebarItem.path" @click.native="onNavItemClicked()">
          <span class="nav-icon">
            <FontAwesomeIcon :icon="adminSidebarItem.iconClass"/>
          </span>
          <span class="nav-label">{{ adminSidebarItem.label }}</span>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  computed: {
    adminSidebarItems() {
      return this.$helpers.route.adminSidebarItems;
    }
  },

  methods: {
    onNavItemClicked() {
      this.$nuxt.$emit('sidebar-opened', false)
    }
  }
}
</script>

<style lang="scss" scoped>
.nav-container {
  padding: 0;
  margin: 0;

  .nav-item-container {
    list-style: none;
    padding-left: 0;

    .nav-item {
      .nav-link {
        font-size: 1rem;
        font-weight: 500;
        color: rgba(0, 0, 0, .6);
        display: flex;
        align-items: center;

        .nav-icon {
          width: 45px;
          font-size: 25px;
          padding-right: 15px;
          text-align: center;
        }
      }

      .nav-link.nuxt-link-exact-active.nuxt-link-active {
        color: $primary-color;
        font-weight: 600;
      }

      .nav-link:hover {
        color: $primary-color;
      }

      .nav-label {
        //
      }
    }
  }
}
</style>
