<template>
  <div class="page-admin-ma-aaf">
    <el-card shadow="always" class="add-author-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Tambah Author</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="addAuthorForm"
        :model="addAuthorForm"
        :rules="addAuthorFormRules"
        :disabled="onAddAuthorFormSubmitting"
        class="add-author-form"
        label-position="top"
        @submit.native.prevent="submitAddAuthorForm"
      >
        <el-form-item label="Nama" prop="name">
          <el-input v-model="addAuthorForm.name"></el-input>
        </el-form-item>

        <el-form-item label="Nama Asli" prop="origin_name">
          <el-input v-model="addAuthorForm.origin_name"></el-input>
        </el-form-item>

        <el-form-item label="Biografi" prop="biography">
          <el-input
            v-model="addAuthorForm.biography"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onAddAuthorFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      onGettingAuthorRoles: false,
      onAddAuthorFormSubmitting: false,
      addAuthorForm: {
        name: '',
        origin_name: '',
        biography: ''
      },
      addAuthorFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  methods: {
    submitAddAuthorForm() {
      this.$refs.addAuthorForm.validate(async (valid) => {
        if (!valid) return

        this.onAddAuthorFormSubmitting = true

        try {
          const addAuthorResp = await this.$services.authorAdmin().addAuthor({
            data: {
              name: this.addAuthorForm.name,
              origin_name: this.addAuthorForm.origin_name,
              biography: this.addAuthorForm.biography
            }
          })

          if (addAuthorResp.status === StatusCodes.CREATED) {
            this.$message.success(addAuthorResp.data?.message)
            this.$refs.addAuthorForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-author')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onAddAuthorFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-ma-aaf {
  .add-author-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .add-author-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
