<template>
  <div class="page-admin-ma-eaf">
    <el-card shadow="always" class="edit-author-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Edit Author</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="editAuthorForm"
        :model="editAuthorForm"
        :rules="editAuthorFormRules"
        :disabled="onEditAuthorFormSubmitting"
        class="edit-author-form"
        label-position="top"
        @submit.native.prevent="submitEditAuthorForm"
      >
        <el-form-item label="Nama" prop="name">
          <el-input v-model="editAuthorForm.name"></el-input>
        </el-form-item>

        <el-form-item label="Nama Asli" prop="origin_name">
          <el-input v-model="editAuthorForm.origin_name"></el-input>
        </el-form-item>

        <el-form-item label="Biografi" prop="biography">
          <el-input
            v-model="editAuthorForm.biography"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onEditAuthorFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  props: {
    author: {
      type: Object,
      required: true,
    }
  },

  data() {
    return {
      onGettingAuthorRoles: false,
      onEditAuthorFormSubmitting: false,
      editAuthorForm: {
        name: '',
        origin_name: '',
        biography: ''
      },
      editAuthorFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  created() {
    this.setAuthor()
  },

  methods: {
    setAuthor() {
      this.editAuthorForm.name = this.author.name
      this.editAuthorForm.origin_name = this.author.origin_name
      this.editAuthorForm.biography = this.author.biography
    },

    submitEditAuthorForm() {
      this.$refs.editAuthorForm.validate(async (valid) => {
        if (!valid) return

        this.onEditAuthorFormSubmitting = true

        try {
          const editAuthorResp = await this.$services.authorAdmin().updateAuthor({
            id: this.author.id,
            data: {
              name: this.editAuthorForm.name,
              origin_name: this.editAuthorForm.origin_name,
              biography: this.editAuthorForm.biography
            }
          })

          if (editAuthorResp.status === StatusCodes.OK) {
            this.$message.success(editAuthorResp.data?.message)
            this.$refs.editAuthorForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-author')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onEditAuthorFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-ma-eaf {
  .edit-author-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .edit-author-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
