<template>
  <div class="page-admin-ma-lat">
    <ModalBaseModalConfirmDelete ref="deleteModal" @confirmationResultDecided="deleteAuthors"/>

    <el-card shadow="always" class="card-table shadow-sm">
      <div class="header-container">
        <h3 class="title">Daftar Author</h3>
        <p class="subtitle">Total {{ listAuthorTable.totalData }} Author</p>
      </div>
      <div class="header-container">
        <div class="input-search-container">
          <el-input
            v-model="listAuthorTable.payload.search"
            class="input-search"
            placeholder="Cari Author"
            suffix-icon="el-icon-search"
            :disabled="listAuthorTable.loading"
            clearable
            @change="handleTableSearchChange"
          ></el-input>
        </div>
        <div class="table-action-container">
          <el-button
            type="primary"
            icon="el-icon-plus"
            :disabled="listAuthorTable.loading"
            @click.prevent="toAddAuthorPage"
          >
            Tambah
          </el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            :disabled="!listAuthorTable.selectedDataId.length || listAuthorTable.loading"
            @click.prevent="deleteMultipleTableData"
          >
            Hapus
          </el-button>
        </div>
      </div>

      <data-tables-server
        v-loading="listAuthorTable.loading"
        class="table-list-author"
        :data="listAuthorTable.data"
        :total="listAuthorTable.totalData"
        :pagination-props="listAuthorTable.paginationProps"
        :current-page="pageRouteQuery || listAuthorTable.currentPage"
        @selection-change="handleTableSelectionChange"
        @query-change="handleTableQueryChange"
      >
        <el-table-column
          type="selection"
          width="55"
        />

        <el-table-column
          label="Slug"
          align="left"
          min-width="120px"
          sortable
          prop="slug"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.slug }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Nama"
          align="left"
          min-width="120px"
          sortable
          prop="name"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.name }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Nama Asli"
          align="left"
          min-width="120px"
          sortable
          prop="origin_name"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.origin_name }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Created At"
          align="left"
          min-width="120px"
          sortable
          prop="created_at"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.created_at }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Aksi"
          align="center"
          min-width="140px"
          prop="dropdownAction"
        >
          <template slot-scope="scope">
            <div class="table-column-action">
              <el-button type="primary" icon="el-icon-edit" @click.prevent="toEditPage(scope.row.id)"/>
              <el-button
                type="danger"
                icon="el-icon-delete"
                @click.prevent="deleteSingleTableData(scope.row.id)"
              />
            </div>
          </template>
        </el-table-column>
      </data-tables-server>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    const defaultPaginationProps = this.$helpers.table.defaultPaginationProps

    return {
      listAuthorTable: {
        loading: false,
        deleteModal: null,
        selectedDataId: [],
        deletePayload: {
          id: []
        },
        payload: {
          paginated: true,
          page: 1,
          per_page: defaultPaginationProps.pageSize,
          search: ''
        },
        data: [],
        totalData: 0,
        currentPage: 1,
        paginationProps: defaultPaginationProps
      }
    }
  },

  computed: {
    pageRouteQuery() {
      return this.$route.query.page || 1
    }
  },

  watch: {
    '$route.query': {
      handler() {
        this.setQueryToRequestPayload()
        this.fetchListAuthorTableData()
      },
      deep: true
    }
  },

  mounted() {
    this.initDeleteModalComponent()
    this.setQueryToRequestPayload()
    this.fetchListAuthorTableData()
  },

  methods: {
    handleTableSelectionChange(selectedData) {
      this.listAuthorTable.selectedDataId = selectedData.map(data => data.id)
    },
    handleTableQueryChange(queryInfo) {
      if (queryInfo.type !== 'init') {
        this.setToQuery({
          page: queryInfo.page,
        })
      }
    },
    handleTableSearchChange(search) {
      if (search || search === '') {
        this.setToQuery({
          search
        })
      }
    },
    setQueryToRequestPayload() {
      const routeQueries = this.$route.query

      Object.assign(this.listAuthorTable.payload, {
        page: routeQueries.page || this.listAuthorTable.payload.page,
        search: routeQueries.search || this.listAuthorTable.payload.search
      })
    },

    toAddAuthorPage() {
      this.$router.push({
        path: '/admin/manage-author/add'
      })
    },
    toEditPage(authorId) {
      this.$router.push({
        path: `/admin/manage-author/edit/${authorId}`
      })
    },

    initDeleteModalComponent() {
      this.listAuthorTable.deleteModal = this.getBootstrapModal(this.$refs.deleteModal.$el)
    },
    deleteSingleTableData(dataId) {
      this.listAuthorTable.deletePayload.id = [dataId]
      this.listAuthorTable.deleteModal.show()
    },
    deleteMultipleTableData() {
      if (this.listAuthorTable.selectedDataId.length <= 0) {
        return this.$message({
          showClose: true,
          message: 'Harap pilih data yang akan dihapus',
          type: 'info'
        })
      }

      this.listAuthorTable.deletePayload.id = this.listAuthorTable.selectedDataId
      this.listAuthorTable.deleteModal.show()
    },

    async fetchListAuthorTableData() {
      this.listAuthorTable.loading = true

      try {
        const getAuthorsResp = await this.$services.authorAdmin().getAuthors({
          params: {
            paginated: this.listAuthorTable.payload.paginated,
            page: this.listAuthorTable.payload.page,
            per_page: this.listAuthorTable.payload.per_page,
            search: this.listAuthorTable.payload?.search
          }
        })

        if (getAuthorsResp.status === StatusCodes.OK) {
          this.listAuthorTable.data = getAuthorsResp.data?.data?.authors?.data || []
          this.listAuthorTable.totalData = getAuthorsResp.data?.data?.authors?.total || 0
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listAuthorTable.loading = false
    },

    async deleteAuthors() {
      this.listAuthorTable.loading = true

      try {
        const getAuthorsResp = await this.$services.authorAdmin().deleteAuthors({
          data: {
            id: this.listAuthorTable.deletePayload.id
          }
        })

        if (getAuthorsResp.status === StatusCodes.OK) {
          this.$message.success(getAuthorsResp.data?.message)
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listAuthorTable.selectedDataId = []
      this.listAuthorTable.deletePayload = {
        id: []
      }
      await this.fetchListAuthorTableData()
      this.listAuthorTable.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-ma-lat {
  .card-table {
    .header-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;

      .title {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .subtitle {
        width: 100%;
        font-size: 1rem;
        font-weight: normal;
      }

      .table-action-container {
        flex-wrap: wrap;
        margin-left: auto;
      }

      .input-search-container {
        flex: 1;
        margin-right: 15px;
      }
    }

    .table-list-author {
      padding-bottom: 15px;

      .table-column-action {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-admin-ma-lat {
    .card-table {
      .header-container {
        display: inherit;

        .table-action-container {
          margin-left: unset;
          margin-top: 15px;
        }

        .input-search-container {
          width: 100%;
        }
      }
    }
  }
}
</style>
