<template>
  <div
    id="page-comics"
    class="container"
  >
    <div class="row mt-5 mb-3">
      <div class="col-lg-8 col-xl-9">
        <PageAllComicListAllComic/>
      </div>
      <div class="col-lg-4 col-xl-3">
        <PageHomeListTrendingPeriodComic/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ComicsPage',

  beforeRouteLeave(_to, from, next) {
    if (from.path === '/comics') {
      this.$nuxt.$emit('comics-page-abandoned');
    }

    next()
  },

  layout: 'home',

  head() {
    return {
      title: `Daftar Komik - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Daftar Komik ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Daftar komik ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `daftar komik ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Daftar Komik ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Daftar komik ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `daftar komik ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
