<template>
  <div class="page-contact-us-sc">
    <div class="header-container">
      <h3 class="title">Kontak Kami</h3>
      <hr>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
.page-contact-us-sc {
  .header-container {
    .title {
      text-align: center;
    }
  }
}
</style>