<template>
  <div class="page-admin-mu-add">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-8">
        <PageAdminManageUserAddUserForm/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminAddUserPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'add-user'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
