<template>
  <div class="page-admin-mu-list">
    <PageAdminTitlePage :route-data="routeData"/>

    <client-only>
      <PageAdminManageUserListUserTable/>
    </client-only>
  </div>
</template>

<script>
export default {
  name: "AdminListUserPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'manage-user'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mu-list {
  .header-container {
    margin-bottom: 30px;

    .title {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}
</style>
