<template>
  <button ref="btnBackToTop" class="btn-back-to-top" type="button" @click.prevent="backToTop">
    <i class="el-icon-caret-top"></i>
  </button>
</template>

<script>
export default {
  mounted() {
    // eslint-disable-next-line nuxt/no-globals-in-created
    window.onscroll = () => this.onScroll()
  },

  methods: {
    backToTop() {
      window.scrollTo(0, 0);
    },

    onScroll() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        this.$refs.btnBackToTop.style.display = "block";
      } else {
        this.$refs.btnBackToTop.style.display = "none";
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1001;
  border: none;
  outline: none;
  background-color: #fff;
  color: $primary-color;
  box-shadow: 0 0 6px rgb(0 0 0 / 12%);
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 15px;
  font-size: 22px;
}

.btn-back-to-top:hover {
  background-color: $primary-color;
  color: #fff;
}

@media (max-width: 576px) {
  .btn-back-to-top {
    padding: 7px 12px;
  }
}
</style>
