<template>
  <div class="page-lnuc">
    <div class="title-container">
      <h3 class="title">Update Terbaru</h3>
      <hr>
    </div>
    <div class="list-container">
      <ComicBaseCard
        v-for="comic in comics"
        :key="'comic-trending-' + comic.id"
        :comic="comic"
        class="comic-item"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      comics: [
        {
          id: '1',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            },
            {
              id: '1',
              name: 'Chapter 1',
              slug: 'chapter-1',
              relative_time: '1 week ago'
            }
          ]
        },
        {
          id: '2',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 10',
              slug: 'chapter-10',
              relative_time: '1 hour ago'
            }
          ]
        },
        {
          id: '3',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-3',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '4',
          title: 'Leveling With The Gods',
          slug: 'leveling-with-the-gods',
          cover: '/img/comic/cover-example-4.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '10 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-4',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '5',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            },
            {
              id: '1',
              name: 'Chapter 1',
              slug: 'chapter-1',
              relative_time: '1 week ago'
            }
          ]
        },
        {
          id: '6',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 10',
              slug: 'chapter-10',
              relative_time: '1 hour ago'
            }
          ]
        },
        {
          id: '7',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          type: 'Manhwa',
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-3',
              relative_time: '20 minutes ago'
            }
          ]
        },
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-lnuc {
  .title-container {
    .title {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;

    .comic-item {
      margin: 5px 7px;
    }
  }

  @media (max-width: 400px) {
    .list-container {
      .comic-item {
        flex: 1 0 160px;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-lnuc {
    .title-container {
      .title {
        text-align: center;
      }
    }

    .list-container {
      justify-content: center;
    }
  }
}
</style>
