<template>
  <div class="page-ltpc">
    <div class="title-container mb-3">
      <h3 class="title">Trending Komik</h3>
      <hr>
    </div>

    <div class="list-container">
      <el-tabs
        type="card"
        class="tab-timely"
      >
        <el-tab-pane label="Migguan">
          <div
            v-for="comic in weeklyComics"
            :key="'comic-trending-' + comic.id"
            class="item-container"
          >
            <ComicBaseCardTrending
              :comic="comic"
              class="comic-item"
            />
            <hr>
          </div>
        </el-tab-pane>
        <el-tab-pane label="Bulanan">
          <div
            v-for="comic in monthlyComics"
            :key="'comic-trending-' + comic.id"
            class="item-container"
          >
            <ComicBaseCardTrending
              :comic="comic"
              class="comic-item"
            />
            <hr>
          </div>
        </el-tab-pane>
        <el-tab-pane label="Semua Waktu">
          <div
            v-for="comic in AllTimeComics"
            :key="'comic-trending-' + comic.id"
            class="item-container"
          >
            <ComicBaseCardTrending
              :comic="comic"
              class="comic-item"
            />
            <hr>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      weeklyComics: [
      {
        id: '1',
        title: 'Solo Leveling',
        slug: 'solo-leveling',
        cover: '/img/comic/cover-example-1.jpg',
        rank: 1,
        rating: 4.5,
        chapters: [
          {
            id: '2',
            name: 'Chapter 2',
            slug: 'chapter-2',
            relative_time: '1 minute ago'
          },
          {
            id: '1',
            name: 'Chapter 1',
            slug: 'chapter-1',
            relative_time: '1 week ago'
          }
        ]
      },
      {
        id: '2',
        title: 'Reincarnation of the Suicidal Battle God',
        slug: 'reincarnation-of-the-suicidal-battle-god',
        cover: '/img/comic/cover-example-2.jpg',
        rank: 2,
        rating: 4.6,
        chapters: [
          {
            id: '2',
            name: 'Chapter 11',
            slug: 'chapter-11',
            relative_time: '2 minutes ago'
          },
          {
            id: '1',
            name: 'Chapter 10',
            slug: 'chapter-10',
            relative_time: '1 hour ago'
          }
        ]
      },
      {
        id: '3',
        title: 'Return of the Mount Hua Sect',
        slug: 'return-of-the-mount-hua-sect',
        cover: '/img/comic/cover-example-3.jpg',
        rank: 3,
        rating: 4.7,
        chapters: [
          {
            id: '2',
            name: 'Chapter 4',
            slug: 'chapter-4',
            relative_time: '5 minutes ago'
          },
          {
            id: '1',
            name: 'Chapter 3',
            slug: 'chapter-3',
            relative_time: '20 minutes ago'
          }
        ]
      },
      {
        id: '4',
        title: 'Leveling With The Gods',
        slug: 'leveling-with-the-gods',
        cover: '/img/comic/cover-example-4.jpg',
        rank: 4,
        rating: 4.8,
        chapters: [
          {
            id: '2',
            name: 'Chapter 4',
            slug: 'chapter-4',
            relative_time: '10 minutes ago'
          },
          {
            id: '1',
            name: 'Chapter 3',
            slug: 'chapter-4',
            relative_time: '20 minutes ago'
          }
        ]
      }
      ],
      monthlyComics: [
        {
          id: '3',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          rank: 1,
          rating: 4.7,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-3',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '4',
          title: 'Leveling With The Gods',
          slug: 'leveling-with-the-gods',
          cover: '/img/comic/cover-example-4.jpg',
          rank: 2,
          rating: 4.8,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '10 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-4',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '1',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          rank: 3,
          rating: 4.5,
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            },
            {
              id: '1',
              name: 'Chapter 1',
              slug: 'chapter-1',
              relative_time: '1 week ago'
            }
          ]
        },
        {
          id: '2',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          rank: 4,
          rating: 4.6,
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 10',
              slug: 'chapter-10',
              relative_time: '1 hour ago'
            }
          ]
        }
      ],
      AllTimeComics: [
        {
          id: '3',
          title: 'Return of the Mount Hua Sect',
          slug: 'return-of-the-mount-hua-sect',
          cover: '/img/comic/cover-example-3.jpg',
          rank: 1,
          rating: 4.7,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '5 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-3',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '1',
          title: 'Solo Leveling',
          slug: 'solo-leveling',
          cover: '/img/comic/cover-example-1.jpg',
          rank: 2,
          rating: 4.5,
          chapters: [
            {
              id: '2',
              name: 'Chapter 2',
              slug: 'chapter-2',
              relative_time: '1 minute ago'
            },
            {
              id: '1',
              name: 'Chapter 1',
              slug: 'chapter-1',
              relative_time: '1 week ago'
            }
          ]
        },
        {
          id: '4',
          title: 'Leveling With The Gods',
          slug: 'leveling-with-the-gods',
          cover: '/img/comic/cover-example-4.jpg',
          rank: 3,
          rating: 4.8,
          chapters: [
            {
              id: '2',
              name: 'Chapter 4',
              slug: 'chapter-4',
              relative_time: '10 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 3',
              slug: 'chapter-4',
              relative_time: '20 minutes ago'
            }
          ]
        },
        {
          id: '2',
          title: 'Reincarnation of the Suicidal Battle God',
          slug: 'reincarnation-of-the-suicidal-battle-god',
          cover: '/img/comic/cover-example-2.jpg',
          rank: 4,
          rating: 4.6,
          chapters: [
            {
              id: '2',
              name: 'Chapter 11',
              slug: 'chapter-11',
              relative_time: '2 minutes ago'
            },
            {
              id: '1',
              name: 'Chapter 10',
              slug: 'chapter-10',
              relative_time: '1 hour ago'
            }
          ]
        }
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-ltpc {
  .title-container {
    .title {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  .list-container {
    .tab-timely {
      .el-tabs__item.is-active {
        color: #f7ba2b;
      }

      .comic-item {
        margin: 5px 7px;
      }
    }
  }

  @media (max-width: 400px) {
    .list-container {
      .comic-item {
        flex: 1 0 160px;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-ltpc {
    margin-top: 3rem;
  }
}
</style>
