<template>
  <div class="page-home-footer">
    <div class="container">
      <div class="link-item-container">
        <nuxt-link
          to="/pages/contact-us"
          class="link-item"
        >Kontak Kami</nuxt-link> |
        <nuxt-link
          to="/pages/terms-and-conditions"
          class="link-item"
        >Terms and Conditions</nuxt-link> |
        <nuxt-link
          to="/pages/privacy-policy"
          class="link-item"
        >Privacy Policy</nuxt-link> |
        <nuxt-link
          to="/pages/disclaimer"
          class="link-item"
        >Disclaimer</nuxt-link>
      </div>

      <div class="credit-container">
        <label class="credit">KOMIKUTAMA. {{ creditYear }}.</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    creditYear() {
      const createdYear = 2022
      const currentYear = new Date().getFullYear()

      return createdYear === currentYear ? createdYear : `${createdYear} - ${currentYear}`
    }
  }
}
</script>

<style lang="scss" scoped>
.page-home-footer {
  background: #eee;
  color: #000;
  text-align: center;
  margin-top: 25px;
  padding: 25px 0;

  .link-item-container {
    .link-item {
      font-size: 15px;
      font-weight: 500;
      color: #000;
      text-decoration: none;
      margin: 0 10px;
    }
    .link-item:hover,
    .link-item:focus,
    .link-item:active {
      color: #409eff;
      text-decoration: none;
    }
  }

  .credit-container {
    margin-top: 5px;
    .credit {
      font-size: 15px;
      font-weight: 500;
      color: #000;
    }
  }
}
</style>