<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white page-home-navbar">
    <div class="container">
      <nuxt-link
        class="navbar-brand"
        to="/"
      >KOMIKUTAMA
      </nuxt-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        id="navbarSupportedContent"
        class="collapse navbar-collapse"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <nuxt-link
              class="nav-link"
              to="/"
            >Home
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              class="nav-link"
              to="/comics"
            >Komik
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link
              class="nav-link"
              to="/genres"
            >Genre
            </nuxt-link>
          </li>
        </ul>
        <form @submit.prevent="search">
          <el-input
            v-model="searchValue"
            class="input-search"
            placeholder="Cari Komik"
          >
            <el-button
              slot="append"
              native-type="submit"
              icon="el-icon-search"
            ></el-button>
          </el-input>
        </form>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      searchValue: ''
    }
  },

  mounted() {
    this.setRouteQueryToInput()

    // Listen Event
    this.$nuxt.$on('comics-page-abandoned', () => {
      this.searchValue = ''
    })
  },

  methods: {
    setRouteQueryToInput() {
      this.searchValue = this.$route.query.search ?? ''
    },

    search() {
      const {search, ...query} = this.$route.query
      this.$router.push({
        path: '/comics',
        query: {
          search: this.searchValue,
          ...query
        }
      })
    },
  },
}
</script>

<style lang="scss">
.page-home-navbar {
  .navbar-collapse.collapse,
  .navbar-collapse.collapsing {
    .nav-item {
      margin: 5px 10px;

      .nuxt-link-exact-active.nuxt-link-active {
        font-weight: 700;
      }
    }

    .input-search {
      min-width: 300px;
    }
  }

  .navbar-collapse.collapse.show,
  .navbar-collapse.collapsing {
    .navbar-nav {
      text-align: center;
    }
  }
}
</style>
