<template>
  <div class="page-admin-mu-auf">
    <el-card shadow="always" class="add-user-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Tambah Pengguna</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="addUserForm"
        :model="addUserForm"
        :rules="addUserFormRules"
        :disabled="onAddUserFormSubmitting"
        class="add-user-form"
        label-position="top"
        @submit.native.prevent="submitAddUserForm"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="addUserForm.name"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="addUserForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input v-model="addUserForm.password" show-password></el-input>
        </el-form-item>
        <el-form-item label="Konfirmasi Password" prop="password_confirmation">
          <el-input v-model="addUserForm.password_confirmation" show-password></el-input>
        </el-form-item>
        <el-form-item label="Roles" prop="roles">
          <el-select
            v-model="addUserForm.roles"
            class="w-100"
            :multiple-limit="1"
            placeholder=""
            multiple
            default-first-option
          >
            <el-option
              v-for="userRole in userRoles"
              :key="'select-' + userRole.id"
              :label="$helpers.role.getRoleLabelName(userRole.name)"
              :value="userRole.name"
            />
          </el-select>
        </el-form-item>
        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onAddUserFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      onGettingUserRoles: false,
      onAddUserFormSubmitting: false,
      addUserForm: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        roles: []
      },
      addUserFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ],
        email: [
          {
            required: true,
            message: 'Email harus diisi',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'Email tidak valid',
            trigger: ['blur', 'change']
          }
        ],
        password: [
          {
            required: true,
            message: 'Password harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 6,
            message: 'Password minimal 6 karakter',
            trigger: ['blur', 'change']
          }
        ],
        password_confirmation: [
          {
            required: true,
            message: 'Konfirmasi password harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 6,
            message: 'Konfirmasi password minimal 6 karakter',
            trigger: ['blur', 'change']
          },
          {
            validator: (rule, value, callback) => {
              if (value !== this.addUserForm.password) {
                callback(new Error('Konfirmasi password tidak sama'));
              } else {
                callback();
              }
            }
          }
        ],
        roles: [
          {
            required: true,
            message: 'Role harus diisi',
            trigger: ['blur', 'change']
          }
        ]
      },

      userRoles: []
    }
  },

  created() {
    this.getUserRoles()
  },

  methods: {
    async getUserRoles() {
      this.onGettingUserRoles = true

      try {
        const getRolesResp = await this.$services.roleAdmin().getRoles({
          params: {
            paginated: false
          }
        })

        if (getRolesResp.status === StatusCodes.CREATED) {
          this.userRoles = getRolesResp.data?.data?.roles
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.onGettingUserRoles = false
    },

    submitAddUserForm() {
      this.$refs.addUserForm.validate(async (valid) => {
        if (!valid) return

        this.onAddUserFormSubmitting = true

        try {
          const addUserResp = await this.$services.userAdmin().addUser({
            data: {
              name: this.addUserForm.name,
              email: this.addUserForm.email,
              password: this.addUserForm.password,
              password_confirmation: this.addUserForm.password_confirmation,
              roles: this.addUserForm.roles
            }
          })

          if (addUserResp.status === StatusCodes.OK) {
            this.$message.success(addUserResp.data?.message)
            this.$refs.addUserForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-user')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onAddUserFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mu-auf {
  .add-user-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .add-user-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
