<template>
  <div class="page-admin-mu-euf">
    <el-card shadow="always" class="edit-user-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Edit Pengguna</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="editUserForm"
        :model="editUserForm"
        :rules="editUserFormRules"
        :disabled="onEditUserFormSubmitting"
        class="edit-user-form"
        label-position="top"
        @submit.native.prevent="submitEditUserForm"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="editUserForm.name"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="editUserForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input v-model="editUserForm.password" show-password></el-input>
        </el-form-item>
        <el-form-item label="Konfirmasi Password" prop="password_confirmation">
          <el-input v-model="editUserForm.password_confirmation" show-password></el-input>
        </el-form-item>
        <el-form-item label="Roles" prop="roles">
          <el-select
            v-model="editUserForm.roles"
            class="w-100"
            :multiple-limit="1"
            placeholder=""
            multiple
            default-first-option
          >
            <el-option
              v-for="userRole in userRoles"
              :key="'select-' + userRole.id"
              :label="$helpers.role.getRoleLabelName(userRole.name)"
              :value="userRole.name"
            />
          </el-select>
        </el-form-item>
        <div class="action-form-container">
          <el-button native-type="submit" type="primary">{{
              !onEditUserFormSubmitting ? 'Simpan' : 'Meyimpan...'
            }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      onGettingUserRoles: false,
      onEditUserFormSubmitting: false,
      editUserForm: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        roles: []
      },
      editUserFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ],
        email: [
          {
            required: true,
            message: 'Email harus diisi',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'Email tidak valid',
            trigger: ['blur', 'change']
          }
        ],
        password: [
          {
            min: 6,
            message: 'Password minimal 6 karakter',
            trigger: ['blur', 'change']
          }
        ],
        password_confirmation: [
          {
            min: 6,
            message: 'Konfirmasi password minimal 6 karakter',
            trigger: ['blur', 'change']
          },
          {
            validator: (rule, value, callback) => {
              if (value !== this.editUserForm.password) {
                callback(new Error('Konfirmasi password tidak sama'));
              } else {
                callback();
              }
            }
          }
        ],
        roles: [
          {
            required: true,
            message: 'Role harus diisi',
            trigger: ['blur', 'change']
          }
        ]
      },

      userRoles: []
    }
  },

  created() {
    this.getUserRoles()
    this.setUser()
  },

  methods: {
    setUser() {
      this.editUserForm.name = this.user.name
      this.editUserForm.email = this.user.email
      this.editUserForm.roles = this.user.roles.map(role => role.name)
    },

    async getUserRoles() {
      this.onGettingUserRoles = true

      try {
        const getRolesResp = await this.$services.roleAdmin().getRoles({
          params: {
            paginated: false
          }
        })

        if (getRolesResp.status === StatusCodes.OK) {
          this.userRoles = getRolesResp.data?.data?.roles
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.onGettingUserRoles = false
    },

    submitEditUserForm() {
      this.$refs.editUserForm.validate(async (valid) => {
        if (!valid) return

        this.onEditUserFormSubmitting = true

        try {
          const requestPayloadData = {
            name: this.editUserForm.name,
            email: this.editUserForm.email,
            roles: this.editUserForm.roles
          }

          if (this.editUserForm.password !== '' && this.editUserForm.password_confirmation !== '') {
            Object.assign(requestPayloadData, {
              password: this.editUserForm.password,
              password_confirmation: this.editUserForm.password_confirmation,
            })
          }

          const editUserResp = await this.$services.userAdmin().updateUser({
            id: this.user.id,
            data: requestPayloadData
          })

          if (editUserResp.status === StatusCodes.OK) {
            this.$message.success(editUserResp.data?.message)
            this.$refs.editUserForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-user')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onEditUserFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mu-euf {
  .edit-user-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .edit-user-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
