<template>
  <div class="page-admin-mu-lut">
    <ModalBaseModalConfirmDelete ref="deleteModal" @confirmationResultDecided="deleteUsers"/>

    <el-card shadow="always" class="card-table shadow-sm">
      <div class="header-container">
        <h3 class="title">Daftar Pengguna</h3>
        <p class="subtitle">Total {{ listUserTable.totalData }} Pengguna</p>
      </div>

      <div class="header-container">
        <div class="input-search-container">
          <el-input
            v-model="listUserTable.payload.search"
            class="input-search"
            placeholder="Cari Pengguna"
            suffix-icon="el-icon-search"
            :disabled="listUserTable.loading"
            clearable
            @change="handleTableSearchChange"
          ></el-input>
        </div>
        <div class="table-action-container">
          <el-button
            type="primary"
            icon="el-icon-plus"
            :disabled="listUserTable.loading"
            @click.prevent="toAddUserPage"
          >
            Tambah
          </el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            :disabled="!listUserTable.selectedDataId.length || listUserTable.loading"
            @click.prevent="deleteMultipleTableData"
          >
            Hapus
          </el-button>
        </div>
      </div>

      <data-tables-server
        v-loading="listUserTable.loading"
        class="table-list-user"
        :data="listUserTable.data"
        :total="listUserTable.totalData"
        :pagination-props="listUserTable.paginationProps"
        :current-page="pageRouteQuery || listUserTable.currentPage"
        @selection-change="handleTableSelectionChange"
        @query-change="handleTableQueryChange"
      >
        <el-table-column
          :selectable="handleSelectableTableColumn"
          type="selection"
          width="55"
        />
        <el-table-column
          label="Nama"
          align="left"
          min-width="120px"
          sortable
          prop="name"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.name }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Email"
          align="left"
          min-width="120px"
          sortable
          prop="email"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.email }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Role"
          align="left"
          min-width="120px"
          sortable
          prop="roles"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ $helpers.role.getRoleLabelNameFromUser(scope.row) }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Created At"
          align="left"
          min-width="120px"
          sortable
          prop="created_at"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.created_at }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Aksi"
          align="center"
          min-width="140px"
          prop="dropdownAction"
        >
          <template slot-scope="scope">
            <div class="table-column-action">
              <el-button type="primary" icon="el-icon-edit" @click.prevent="toEditPage(scope.row.id)"/>
              <el-button
                v-if="scope.row.id !== $auth.user.id"
                type="danger"
                icon="el-icon-delete"
                @click.prevent="deleteSingleTableData(scope.row.id)"
              />
            </div>
          </template>
        </el-table-column>
      </data-tables-server>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    const defaultPaginationProps = this.$helpers.table.defaultPaginationProps

    return {
      listUserTable: {
        loading: false,
        deleteModal: null,
        selectedDataId: [],
        deletePayload: {
          id: []
        },
        payload: {
          paginated: true,
          page: 1,
          per_page: defaultPaginationProps.pageSize,
          search: ''
        },
        data: [],
        totalData: 0,
        currentPage: 1,
        paginationProps: defaultPaginationProps
      }
    }
  },

  computed: {
    pageRouteQuery() {
      return this.$route.query.page || 1
    }
  },

  watch: {
    '$route.query': {
      handler() {
        this.setQueryToRequestPayload()
        this.fetchListUserTableData()
      },
      deep: true
    }
  },

  mounted() {
    this.initDeleteModalComponent()
    this.setQueryToRequestPayload()
    this.fetchListUserTableData()
  },

  methods: {
    handleSelectableTableColumn(row) {
      return row.id !== this.$auth.user.id
    },
    handleTableSelectionChange(selectedData) {
      this.listUserTable.selectedDataId = selectedData.map(data => data.id)
    },
    handleTableQueryChange(queryInfo) {
      if (queryInfo.type !== 'init') {
        this.setToQuery({
          page: queryInfo.page,
        })
      }
    },
    handleTableSearchChange(search) {
      if (search || search === '') {
        this.setToQuery({
          search
        })
      }
    },
    setQueryToRequestPayload() {
      const routeQueries = this.$route.query

      Object.assign(this.listUserTable.payload, {
        page: routeQueries.page || this.listUserTable.payload.page,
        search: routeQueries.search || this.listUserTable.payload.search
      })
    },

    toAddUserPage() {
      this.$router.push({
        path: '/admin/manage-user/add'
      })
    },
    toEditPage(userId) {
      this.$router.push({
        path: `/admin/manage-user/edit/${userId}`
      })
    },

    initDeleteModalComponent() {
      this.listUserTable.deleteModal = this.getBootstrapModal(this.$refs.deleteModal.$el)
    },
    deleteSingleTableData(dataId) {
      this.listUserTable.deletePayload.id = [dataId]
      this.listUserTable.deleteModal.show()
    },
    deleteMultipleTableData() {
      if (this.listUserTable.selectedDataId.length <= 0) {
        return this.$message({
          showClose: true,
          message: 'Harap pilih data yang akan dihapus',
          type: 'info'
        })
      }

      this.listUserTable.deletePayload.id = this.listUserTable.selectedDataId
      this.listUserTable.deleteModal.show()
    },

    async fetchListUserTableData() {
      this.listUserTable.loading = true

      try {
        const getUsersResp = await this.$services.userAdmin().getUsers({
          params: {
            paginated: this.listUserTable.payload.paginated,
            page: this.listUserTable.payload.page,
            per_page: this.listUserTable.payload.per_page,
            search: this.listUserTable.payload?.search
          }
        })

        if (getUsersResp.status === StatusCodes.OK) {
          this.listUserTable.data = getUsersResp.data?.data?.users?.data || []
          this.listUserTable.totalData = getUsersResp.data?.data?.users?.total || 0
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listUserTable.loading = false
    },

    async deleteUsers() {
      this.listUserTable.loading = true

      try {
        const getUsersResp = await this.$services.userAdmin().deleteUsers({
          data: {
            id: this.listUserTable.deletePayload.id
          }
        })

        if (getUsersResp.status === StatusCodes.OK) {
          this.$message.success(getUsersResp.data?.message)
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listUserTable.selectedDataId = []
      await this.fetchListUserTableData()
      this.listUserTable.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mu-lut {
  .card-table {
    .header-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;

      .title {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .subtitle {
        width: 100%;
        font-size: 1rem;
        font-weight: normal;
      }

      .table-action-container {
        flex-wrap: wrap;
        margin-left: auto;
      }

      .input-search-container {
        flex: 1;
        margin-right: 15px;
      }
    }

    .table-list-user {
      padding: 15px 0;

      .table-column-action {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-admin-mu-lut {
    .card-table {
      .header-container {
        display: inherit;

        .table-action-container {
          margin-left: unset;
          margin-top: 15px;
        }

        .input-search-container {
          width: 100%;
        }
      }
    }
  }
}
</style>
