<template>
  <div
    id="page-comic-chapter-detail"
    class="container"
  >
    <div class="mt-4 mb-5">
      <PageChapterDetailTheHeader :chapter="chapter"/>
      <PageChapterDetailTheNavigation key="navigation-top" :chapters="sortedChapters" :chapter="chapter"/>

      <PageChapterDetailListLorikeet :lorikeets="chapter.lorikeets"/>

      <PageChapterDetailTheNavigation key="navigation-bottom" :chapters="sortedChapters" :chapter="chapter"/>
    </div>

    <ComicBaseDiscussion/>

    <client-only>
      <OtherBackToTop/>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'ComicChapterDetailPage',
  layout: 'home',

  data() {
    return {
      chapters: [
        {
          id: '107',
          comic_slug: 'nano-machine',
          title: 'Chapter 107',
          slug: 'chapter-107',
          sequence: 107
        },
        {
          id: '108',
          comic_slug: 'nano-machine',
          title: 'Chapter 108',
          slug: 'chapter-108',
          sequence: 108
        },
        {
          id: '109',
          comic_slug: 'nano-machine',
          title: 'Chapter 109',
          slug: 'chapter-109',
          sequence: 109
        },
        {
          id: '110',
          comic_slug: 'nano-machine',
          title: 'Chapter 110',
          slug: 'chapter-110',
          sequence: 110
        }
      ],

      chapter: {
        id: '110',
        title: 'Chapter 110',
        slug: 'chapter-110',
        sequence: 110,

        comic: {
          id: '1',
          title: 'Nano Machine',
          slug: 'nano-machine',
        },

        lorikeets: [
          {
            id: '1',
            name: 'Lorikeet 1',
            sequence: 1,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-01.jpg'
              }
            ]
          },
          {
            id: '2',
            name: 'Lorikeet 2',
            sequence: 2,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-02.jpg'
              }
            ]
          },
          {
            id: '3',
            name: 'Lorikeet 3',
            sequence: 3,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-03.jpg'
              }
            ]
          },
          {
            id: '4',
            name: 'Lorikeet 4',
            sequence: 4,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-04.jpg'
              }
            ]
          },
          {
            id: '5',
            name: 'Lorikeet 5',
            sequence: 5,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-05.jpg'
              }
            ]
          },
          {
            id: '6',
            name: 'Lorikeet 6',
            sequence: 6,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-06.jpg'
              }
            ]
          },
          {
            id: '7',
            name: 'Lorikeet 7',
            sequence: 7,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-07.jpg'
              }
            ]
          },
          {
            id: '8',
            name: 'Lorikeet 8',
            sequence: 8,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-08.jpg'
              }
            ]
          },
          {
            id: '9',
            name: 'Lorikeet 9',
            sequence: 9,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-09.jpg'
              }
            ]
          },
          {
            id: '10',
            name: 'Lorikeet 10',
            sequence: 10,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-10.jpg'
              }
            ]
          },
          {
            id: '11',
            name: 'Lorikeet 11',
            sequence: 3,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-11.jpg'
              }
            ]
          },
          {
            id: '12',
            name: 'Lorikeet 12',
            sequence: 12,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-12.jpg'
              }
            ]
          },
          {
            id: '13',
            name: 'Lorikeet 13',
            sequence: 13,
            files: [
              {
                name: 'Lorikeet Image',
                type: 'image',
                value: '/img/comic/chapter/lorikeet-13.jpg'
              }
            ]
          }
        ]
      }
    }
  },

  head() {
    return {
      title: `${this.chapter.title} - ${this.comic.title} - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `${this.chapter.title} ${this.comic.title} ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Chapter ${this.chapter.title} komik ${this.comic.title} ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `chapter ${this.chapter.title} komik ${this.comic.title},chapter ${this.chapter.name},komik ${this.comic.title},${this.comic.title}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `${this.chapter.title} ${this.comic.title} ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Chapter ${this.chapter.title} komik ${this.comic.title} ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `chapter ${this.chapter.title} komik ${this.comic.title},chapter ${this.chapter.name},komik ${this.comic.title},${this.comic.title}`
        },
      ]
    }
  },

  computed: {
    sortedChapters() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties,vue/no-mutating-props
      return this.chapters.sort((a, b) => {
        return b.sequence - a.sequence
      })
    },

    comic() {
      return this.chapter.comic
    }
  },

  mounted() {
    this.scrollToTop()
  },

  methods: {
    scrollToTop() {
      window.scrollTo(0, 0)
    }
  },
}
</script>
