<template>
  <div id="page-body">
    <PageAdminTheNavbar/>
    <PageAdminTheSidebar/>

    <div id="page-content">
      <fade-transition>
        <Nuxt/>
      </fade-transition>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth', 'auth-admin']
}
</script>

<style lang="scss" scoped>
#page-body {
  overflow-x: hidden;

  #page-content {
    background: #f9fcff;
    position: relative;
    transition: .2s ease-in;
    padding: 90px 20px 20px 295px;
    min-height: 100vh;
  }
}

@media (max-width: 992px) {
  #page-body {
    #page-content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
</style>
