<template>
  <div id="page-body">
    <PageHomeTheNavbar />

    <div id="page-content">
      <fade-transition>
        <Nuxt />
      </fade-transition>
    </div>

    <PageHomeTheFooter />
  </div>
</template>

<script>
export default {
    //
}
</script>

<style lang="scss" scoped>
#page-content {
  min-height: 80.7vh;
}
</style>
