<template>
  <div
    id="deleteModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered ">
      <div class="modal-content p-3">
        <div class="d-flex">
          <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-3 position-relative">
          <h5 class="color-main-01 text-center fw-bold">
            Hapus
          </h5>
          <p class="text-center confirm-text">
            Apakah anda yakin akan ingin menghapusnya?
          </p>
          <div class="d-flex justify-content-center gap-2 mt-4">
            <button
              type="button"
              class="btn btn-danger fw-bold"
              data-bs-dismiss="modal"
              @click.prevent="deleteItem"
            >
              Iya
            </button>
            <button
              type="button"
              class="btn bg-transparent color-black-05 fw-bold border-0 font-16"
              data-bs-dismiss="modal"
            >
              Batal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    deleteItem() {
      this.$emit('confirmationResultDecided', true)
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  padding: 10px 20px !important;
  border-radius: 8px;
}

.modal-content {
  border-radius: 20px;
  max-width: 400px !important;
}

.confirm-text {
  line-height: 26px;
}

.btn.btn-danger {
  background-color: #F56C6C;
  border-color: #F56C6C;
}
</style>
