<template>
  <div class="page-admin-mg-edit">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-8">
        <PageAdminManageGenreEditGenreForm :genre="genre"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminEditGenrePage",
  layout: 'admin',

  async asyncData({$services, $helpers, params, redirect}) {
    try {
      const getGenreResp = await $services.genreAdmin().getGenre({
        id: params.id
      })

      return {
        genre: getGenreResp.data?.data?.genre
      }
    } catch (e) {
      redirect({
        path: $helpers.route.filterRoutesByName($helpers.route.adminRoutes, 'manage-genre')[0]?.path
      })
    }
  },

  data() {
    return {
      routeName: 'edit-genre'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mg-edit {
  //
}
</style>
