<template>
  <div
    id="page-home"
    class="container"
  >
    <PageHomeListPopularComicToday class="my-3" />

    <div class="row mt-5 mb-3">
      <div class="col-lg-8 col-xl-9">
        <PageHomeListNewUpdatedComic />
      </div>
      <div class="col-lg-4 col-xl-3">
        <PageHomeListTrendingPeriodComic />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  layout: 'home',
}
</script>