<template>
  <div
    id="page-genres"
    class="container"
  >
    <div class="mt-5 mb-3">
      <PageAllGenreListAllGenre/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GenresPage',
  layout: 'home',

  head() {
    return {
      title: `Daftar Genre - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `Daftar Genre ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Daftar genre ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `daftar genre ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `Daftar genre ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Daftar genre ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `daftar genre ${this.$store.state.config.appName.toLowerCase()}`
        },
      ]
    }
  },
}
</script>
