<template>
  <div class="page-cd-ll">
    <PageChapterDetailTheLorikeet v-for="lorikeet in lorikeets" :key="'l-' + lorikeet.id" :lorikeet="lorikeet" />
    <div class="lorikeet-wrapper" @click="scrollToBottom"></div>
  </div>
</template>

<script>
export default {
  props: {
    lorikeets: {
      type: Array,
      required: true
    }
  },

  methods: {
    scrollToBottom() {
      window.scrollTo(0, window.scrollY + 350);
    }
  }
}
</script>

<style lang="scss" scoped>
.page-cd-ll {
  margin: 30px 0;
  text-align: center;
  position: relative;

  .lorikeet-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
</style>
