<template>
  <div class="page-cd-th">
    <div class="title-container">
      <h1 class="title">{{ chapter.comic.title + ' - ' + chapter.title }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    chapter: {
      type: Object,
      required: true,
    },
  }
}
</script>

<style lang="scss" scoped>
.page-cd-th {
  .title-container {
    .title {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 0;
      text-align: center;
    }
  }
}
</style>
