<template>
  <el-image class="lorikeet-img" :src="lorikeetImg" :alt="lorikeet.name" lazy>
    <div slot="placeholder" class="image-slot"></div>
    <div slot="error" class="image-slot" >
      <i class="el-icon-picture-outline"></i>
    </div>
  </el-image>
</template>

<script>
export default {
  props: {
    lorikeet: {
      type: Object,
      required: true,
    },
  },

  computed: {
    lorikeetImg() {
      const img = this.lorikeet.files.find(file => file.type === 'image' && file.name === 'Lorikeet Image')
      return img ? img.value : ''
    }
  },
}
</script>

<style lang="scss" scoped>
.lorikeet-img {
  width: 800px;
  height: 100%;
  max-width: 100%;
  min-height: 800px;
  object-fit: contain;
}
</style>

<style lang="scss">
.lorikeet-img {
  .image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 800px;
    height: 800px;
    background: #f5f7fa;
    color: #909399;

    i {
      font-size: 30px;
    }
  }
}
</style>
