<template>
  <div class="page-cd-tn">
    <div class="breadcrumb-container">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/comics' }">Comics</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/comics/' + chapter.comic.slug }">{{ chapter.comic.title }}</el-breadcrumb-item>
        <el-breadcrumb-item>{{ chapter.title }}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="navigation-container">
      <el-select v-model="selectedChapterId" class="chapter-select" placeholder="Pilih Chapter">
        <el-option
          v-for="sortedChapter in chapters"
          :key="'c-' + sortedChapter.id"
          :label="sortedChapter.title"
          :value="sortedChapter.id">
        </el-option>
      </el-select>
      <el-button-group class="prev-next-btn-group">
        <el-button type="plain" icon="el-icon-arrow-left" rounded>Previous Chapter</el-button>
        <el-button type="plain" rounded>
          Next Chapter<i class="el-icon-arrow-right el-arrow-right"></i>
        </el-button>
      </el-button-group>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    chapters: {
      type: Array,
      required: true
    },
    chapter: {
      type: Object,
      required: true
    },
  },

  data() {
    return {
      selectedChapterId: this.chapter.id,
    }
  }
}
</script>

<style lang="scss" scoped>
.page-cd-tn {
  margin: 50px 0 0 20px;

  .breadcrumb-container {
    display: flex;
  }

  .navigation-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .breadcrumb-container {
      justify-content: center;
    }

    .navigation-container {
      justify-content: center;

      .chapter-select, .prev-next-btn-group {
        margin: 15px 0;
      }
    }
  }
}
</style>

<style lang="scss">
.page-cd-tn {
  .navigation-container {
    .chapter-select {
      .el-input.el-input--suffix {
        .el-input__inner {
          border-radius: 30px;
        }
      }
    }

    .prev-next-btn-group {
      .el-button {
        border-radius: 30px;
        margin: 0 3px;
      }
    }
  }
}
</style>
