<template>
  <div class="page-admin-dashboard">
    <PageAdminTitlePage :route-data="routeData"/>
    
    <el-card shadow="always" class="shadow-sm">
      Dashboad
    </el-card>
  </div>
</template>

<script>
export default {
  name: "AdminDashboardPage",
  layout: 'admin',

  data() {
    return {
      routeName: 'dashboard'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-dashboard {
  .card-dashboard {
    border: none;
    border-radius: 10px;
  }
}
</style>
