<template>
  <div id="page-comic-detail">
    <div class="container">
      <PageComicDetailTheSummary
        class="mt-3"
        :comic="comic"
      />
    </div>

    <div class="mt-5">
      <PageComicDetailTheContent :comic="comic"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ComicDetailPage',
  layout: 'home',

  data() {
    return {
      comic: {
        id: '1',
        title: 'Nano Machine',
        slug: 'nano-machine',
        alternatif_title: '나노마신',
        author_name: 'Han-Joong-Wueol-Ya',
        artist_name: 'Guem-Gang-Bul-Gae',
        cover: '/img/comic/cover-example-5.jpg',
        type: 'Manhwa',
        rating: 4.5,
        rank: '4th in Comics',
        year_released: '2020',
        status: 'Ongoing',
        synopsis: 'Setelah direndahkan dan menghabiskan hidupnya dalam bahaya, seorang yatim piatu dari pemuja iblis, Yeo-Woon, mendapatkan kunjungan tak terduga dari keturunannya dari masa depan yang memasukkan sebuah mesin nano ke dalam tubuh Cheon-Woon, yang mengubah hidup Cheon Yeo Woon setelah aktivasi. Ikuti Cerita tentang perjalanan Cheon Yeo-Woon di reaperscans.id, melewati pemujaan setan dan naik menjadi yang ahli beladiri terbaik baru saja dimulai.',
        genres: [
          {
            name: 'Action',
            slug: 'action'
          },
          {
            name: 'Adventure',
            slug: 'adventure'
          },
          {
            name: 'Fantasy',
            slug: 'fantasy'
          },
          {
            name: 'Manhwa',
            slug: 'manhwa'
          }
        ]
      },
    }
  },

  head() {
    return {
      title: `${this.comic.title} - ${this.$store.state.config.appName}`,
      meta: [
        {
          hid: 'title',
          name: 'title',
          content: `${this.comic.title} ${this.$store.state.config.appName}`
        },
        {
          hid: 'description',
          name: 'description',
          content: `Komik ${this.comic.title} ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `komik ${this.comic.title},${this.comic.title}`
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `${this.comic.title} ${this.$store.state.config.appName}`
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: `Komik ${this.comic.title} ${this.$store.state.config.appName.toLowerCase()}`
        },
        {
          hid: 'og:keywords',
          name: 'og:keywords',
          content: `komik ${this.comic.title},${this.comic.title}`
        },
      ]
    }
  },
}
</script>
