<template>
  <div class="page-admin-mu-edit">
    <PageAdminTitlePage :route-data="routeData"/>

    <div class="row">
      <div class="col-md-8">
        <PageAdminManageUserEditUserForm :user="user"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminEditUserPage",
  layout: 'admin',

  async asyncData({$services, $helpers, params, redirect}) {
    try {
      const getUserResp = await $services.userAdmin().getUser({
        id: params.id
      })

      return {
        user: getUserResp.data?.data?.user
      }
    } catch (e) {
      redirect({
        path: $helpers.route.filterRoutesByName($helpers.route.adminRoutes, 'manage-user')[0]?.path
      })
    }
  },

  data() {
    return {
      routeName: 'edit-user'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-mu-edit {
  //
}
</style>
