<template>
  <div class="page-admin-mar-aaf">
    <el-card shadow="always" class="add-artist-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Tambah Artist</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="addArtistForm"
        :model="addArtistForm"
        :rules="addArtistFormRules"
        :disabled="onAddArtistFormSubmitting"
        class="add-artist-form"
        label-position="top"
        @submit.native.prevent="submitAddArtistForm"
      >
        <el-form-item label="Nama" prop="name">
          <el-input v-model="addArtistForm.name"></el-input>
        </el-form-item>

        <el-form-item label="Nama Asli" prop="origin_name">
          <el-input v-model="addArtistForm.origin_name"></el-input>
        </el-form-item>

        <el-form-item label="Biografi" prop="biography">
          <el-input
            v-model="addArtistForm.biography"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onAddArtistFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      onGettingArtistRoles: false,
      onAddArtistFormSubmitting: false,
      addArtistForm: {
        name: '',
        origin_name: '',
        biography: ''
      },
      addArtistFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  methods: {
    submitAddArtistForm() {
      this.$refs.addArtistForm.validate(async (valid) => {
        if (!valid) return

        this.onAddArtistFormSubmitting = true

        try {
          const addArtistResp = await this.$services.artistAdmin().addArtist({
            data: {
              name: this.addArtistForm.name,
              origin_name: this.addArtistForm.origin_name,
              biography: this.addArtistForm.biography
            }
          })

          if (addArtistResp.status === StatusCodes.CREATED) {
            this.$message.success(addArtistResp.data?.message)
            this.$refs.addArtistForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-artist')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onAddArtistFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mar-aaf {
  .add-artist-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .add-artist-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
