<template>
  <div class="page-admin-ma-eaf">
    <el-card shadow="always" class="edit-artist-card shadow-sm">
      <div class="header-container">
        <h3 class="title">Edit Artist</h3>
        <hr class="divider">
      </div>

      <el-form
        ref="editArtistForm"
        :model="editArtistForm"
        :rules="editArtistFormRules"
        :disabled="onEditArtistFormSubmitting"
        class="edit-artist-form"
        label-position="top"
        @submit.native.prevent="submitEditArtistForm"
      >
        <el-form-item label="Nama" prop="name">
          <el-input v-model="editArtistForm.name"></el-input>
        </el-form-item>

        <el-form-item label="Nama Asli" prop="origin_name">
          <el-input v-model="editArtistForm.origin_name"></el-input>
        </el-form-item>

        <el-form-item label="Biografi" prop="biography">
          <el-input
            v-model="editArtistForm.biography"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"></el-input>
        </el-form-item>

        <div class="action-form-container">
          <el-button native-type="submit" type="primary">
            {{ !onEditArtistFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
          </el-button>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  props: {
    artist: {
      type: Object,
      required: true,
    }
  },

  data() {
    return {
      onGettingArtistRoles: false,
      onEditArtistFormSubmitting: false,
      editArtistForm: {
        name: '',
        origin_name: '',
        biography: ''
      },
      editArtistFormRules: {
        name: [
          {
            required: true,
            message: 'Nama harus diisi',
            trigger: ['blur', 'change']
          },
          {
            min: 3,
            message: 'Panjang nama minimal 3 huruf',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  created() {
    this.setArtist()
  },

  methods: {
    setArtist() {
      this.editArtistForm.name = this.artist.name
      this.editArtistForm.origin_name = this.artist.origin_name
      this.editArtistForm.biography = this.artist.biography
    },

    submitEditArtistForm() {
      this.$refs.editArtistForm.validate(async (valid) => {
        if (!valid) return

        this.onEditArtistFormSubmitting = true

        try {
          const editArtistResp = await this.$services.artistAdmin().updateArtist({
            id: this.artist.id,
            data: {
              name: this.editArtistForm.name,
              origin_name: this.editArtistForm.origin_name,
              biography: this.editArtistForm.biography
            }
          })

          if (editArtistResp.status === StatusCodes.OK) {
            this.$message.success(editArtistResp.data?.message)
            this.$refs.editArtistForm.resetFields()
            await this.$router.push({
              path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-artist')[0]?.path
            })
          }

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onEditArtistFormSubmitting = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-ma-eaf {
  .edit-artist-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .edit-artist-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }
}
</style>
