<template>
  <div class="page-admin-ma-edit">
    <PageAdminTitlePage :route-data="routeData"/>

    <PageAdminManageComicEditComicForm :comic="comic"/>
  </div>
</template>

<script>
export default {
  name: "AdminEditComicPage",
  layout: 'admin',

  async asyncData({$services, $helpers, params, redirect}) {
    try {
      const getComicResp = await $services.comicAdmin().getComic({
        id: params.id
      })

      return {
        comic: getComicResp.data?.data?.comic
      }
    } catch (e) {
      redirect({
        path: $helpers.route.filterRoutesByName($helpers.route.adminRoutes, 'manage-comic')[0]?.path
      })
    }
  },

  data() {
    return {
      routeName: 'edit-comic'
    }
  },

  computed: {
    routeData() {
      return this.$helpers.route.adminRoutes?.filter((route) => {
        return route.name === this.routeName
      })[0]
    }
  },
}
</script>

<style lang="scss" scoped>
.page-admin-ma-edit {
  //
}
</style>
