<template>
  <div class="page-admin-mc-acf">
    <div class="row">
      <div class="col-md-8">
        <el-card shadow="always" class="add-comic-card shadow-sm">
          <div class="header-container">
            <h3 class="title">Tambah Komik</h3>
            <hr class="divider">
          </div>

          <el-form
            ref="addComicForm"
            :model="addComicForm"
            :rules="addComicFormRules"
            :disabled="onAddComicFormSubmitting"
            class="add-comic-form"
            label-position="top"
            @submit.native.prevent="submitAddComicForm"
          >
            <el-form-item label="Author" prop="author_id">
              <el-select v-model="addComicForm.author_id" class="w-100" placeholder="Pilih author" multiple>
                <el-option
                  v-for="item in authors"
                  :key="item.slug"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="Artist" prop="artist_id">
              <el-select v-model="addComicForm.artist_id" class="w-100" placeholder="Pilih artist" multiple>
                <el-option
                  v-for="item in artists"
                  :key="item.slug"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="Judul" prop="title">
              <el-input v-model="addComicForm.title"></el-input>
            </el-form-item>

            <el-form-item label="Judul Alternatif" prop="alternative_title">
              <el-input v-model="addComicForm.alternative_title"></el-input>
            </el-form-item>

            <el-form-item label="Tanggal Terbit" prop="year_released_at">
              <el-date-picker
                v-model="addComicForm.year_released_at"
                class="w-100"
                type="year"
                value-format="yyyy"
                placeholder="Pilih tanggal terbit"
                :picker-options="yearReleasedAtOptions"
              >
              </el-date-picker>
            </el-form-item>

            <el-form-item label="Sinopsis" prop="synopsis">
              <el-input
                v-model="addComicForm.synopsis"
                type="textarea"
                :autosize="{ minRows: 3, maxRows: 5}"></el-input>
            </el-form-item>

            <el-form-item label="Status" prop="status">
              <el-select v-model="addComicForm.status" class="w-100" placeholder="Pilih status">
                <el-option
                  v-for="item in statuses"
                  :key="item.slug"
                  :label="item.name"
                  :value="item.slug">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="Type" prop="type">
              <el-select v-model="addComicForm.type" class="w-100" placeholder="Pilih tipe">
                <el-option
                  v-for="item in types"
                  :key="item.slug"
                  :label="item.name"
                  :value="item.slug">
                </el-option>
              </el-select>
            </el-form-item>

            <div class="action-form-container">
              <el-button native-type="submit" type="primary">
                {{ !onAddComicFormSubmitting ? 'Simpan' : 'Meyimpan...' }}
              </el-button>
            </div>
          </el-form>
        </el-card>
      </div>
      <div class="col-md-4">
        <el-card shadow="always" class="cover-comic-card shadow-sm">
          <div class="header-container">
            <h3 class="title">Cover Komik</h3>
            <hr class="divider">
          </div>

          <ComicBaseCoverImageUploader @onFileChange="onFileChange"/>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    return {
      authors: [],
      artists: [],
      statuses: this.$helpers.comic.statuses,
      types: this.$helpers.comic.types,

      yearReleasedAtOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now()
        }
      },

      onGettingComicRoles: false,
      onAddComicFormSubmitting: false,
      addComicForm: {
        author_id: [],
        artist_id: [],
        title: '',
        alternative_title: '',
        synopsis: '',
        year_released_at: '',
        status: '',
        type: '',
        medias: []
      },
      addComicFormRules: {
        title: [
          {
            required: true,
            message: 'Judul harus diisi',
            trigger: ['blur', 'change']
          }
        ],
        alternative_title: [
          {
            required: true,
            message: 'Nama alternatif harus diisi',
            trigger: ['blur', 'change']
          }
        ],
        synopsis: [
          {
            required: true,
            message: 'Sinopsis harus diisi',
            trigger: ['blur', 'change']
          }
        ],
        year_released_at: [
          {
            required: true,
            message: 'Tanggal terbit harus diisi',
            trigger: ['blur', 'change']
          }
        ],
        status: [
          {
            required: true,
            message: 'Status harus diisi',
            trigger: ['blur', 'change']
          }
        ],
        type: [
          {
            required: true,
            message: 'Tipe harus diisi',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },

  mounted() {
    this.fetchAuthors()
    this.fetchArtists()
  },

  methods: {
    onFileChange(file) {
      this.addComicForm.cover = file;
    },

    async fetchAuthors() {
      this.onAddComicFormSubmitting = true

      try {
        const getAuthorsResp = await this.$services.authorAdmin().getAuthors({
          params: {
            paginated: false
          }
        })

        if (getAuthorsResp.status === StatusCodes.OK) {
          this.authors = getAuthorsResp.data?.data?.authors
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.onAddComicFormSubmitting = false
    },
    async fetchArtists() {
      this.onAddComicFormSubmitting = true

      try {
        const getArtistsResp = await this.$services.artistAdmin().getArtists({
          params: {
            paginated: false
          }
        })

        if (getArtistsResp.status === StatusCodes.OK) {
          this.artists = getArtistsResp.data?.data?.artists
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.onAddComicFormSubmitting = false
    },

    submitAddComicForm() {
      this.$refs.addComicForm.validate(async (valid) => {
        if (!this.addComicForm.cover) return this.$message.warning('Cover harus diisi')
        if (!valid) return

        this.onAddComicFormSubmitting = true

        try {
          await this.uploadCoverImage()
          await this.createComic()

        } catch (e) {
          if (e instanceof AxiosError && e.response.data) {
            this.$message.error(e.response.data?.message)
          } else {
            this.$message.error(e.message)
          }
        }

        this.onAddComicFormSubmitting = false
      })
    },
    async uploadCoverImage() {
      const uploadFormData = new FormData()
      uploadFormData.append('file[]', this.addComicForm.cover)
      uploadFormData.append('type', 'comics')

      const uploadFileResp = await this.$services.fileGeneral().uploadFiles({
        data: uploadFormData
      })

      if (uploadFileResp.status === StatusCodes.OK) {
        uploadFileResp.data?.data?.files.forEach(file => {
          this.addComicForm.medias.push({
            name: 'cover',
            value: file.filename,
            type: 'image'
          })
        });

        delete this.addComicForm.cover
      }
    },
    async createComic() {
      const addComicResp = await this.$services.comicAdmin().addComic({
        data: {
          author_id: this.addComicForm.author_id,
          artist_id: this.addComicForm.artist_id,
          title: this.addComicForm.title,
          alternative_title: this.addComicForm.alternative_title,
          synopsis: this.addComicForm.synopsis,
          year_released_at: this.addComicForm.year_released_at,
          status: this.addComicForm.status,
          type: this.addComicForm.type,
          medias: this.addComicForm.medias
        }
      })

      if (addComicResp.status === StatusCodes.CREATED) {
        this.$message.success(addComicResp.data?.message)
        this.$refs.addComicForm.resetFields()
        await this.$router.push({
          path: this.$helpers.route.filterRoutesByName(this.$helpers.route.adminRoutes, 'manage-comic')[0]?.path
        })
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mc-acf {
  .add-comic-card {
    .header-container {
      .title {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .divider {
        color: rgba(0, 0, 0, .6);
      }
    }

    .add-comic-form {
      .action-form-container {
        padding-top: 15px;
      }
    }
  }

  .cover-comic-card {
    .title {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .divider {
      color: rgba(0, 0, 0, .6);
    }
  }
}
</style>

<style lang="scss">
.el-year-table {
  td {
    .cell {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
</style>
