<template>
  <div class="page-admin-mc-lct">
    <ModalBaseModalConfirmDelete ref="deleteModal" @confirmationResultDecided="deleteComics"/>

    <el-card shadow="always" class="card-table shadow-sm">
      <div class="header-container">
        <h3 class="title">Daftar Komik</h3>
        <p class="subtitle">Total {{ listComicTable.totalData }} Komik</p>
      </div>
      <div class="header-container">
        <div class="input-search-container">
          <el-input
            v-model="listComicTable.payload.search"
            class="input-search"
            placeholder="Cari Komik"
            suffix-icon="el-icon-search"
            :disabled="listComicTable.loading"
            clearable
            @change="handleTableSearchChange"
          ></el-input>
        </div>
        <div class="table-action-container">
          <el-button
            type="primary"
            icon="el-icon-plus"
            :disabled="listComicTable.loading"
            @click.prevent="toAddComicPage"
          >
            Tambah
          </el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            :disabled="!listComicTable.selectedDataId.length || listComicTable.loading"
            @click.prevent="deleteMultipleTableData"
          >
            Hapus
          </el-button>
        </div>
      </div>

      <data-tables-server
        v-loading="listComicTable.loading"
        class="table-list-comic"
        :data="listComicTable.data"
        :total="listComicTable.totalData"
        :pagination-props="listComicTable.paginationProps"
        :current-page="pageRouteQuery || listComicTable.currentPage"
        @selection-change="handleTableSelectionChange"
        @query-change="handleTableQueryChange"
      >
        <el-table-column
          type="selection"
          width="55"
        />

        <el-table-column
          label="Cover"
          align="left"
          min-width="120px"
          prop="cover"
        >
          <template slot-scope="scope">
            <div class="cover-container">
              <el-image
                class="cover-img"
                :src="$helpers.comic.getCoverFromFiles(scope.row.files)"
                alt="cover-comic"
                lazy
              >
                <div slot="placeholder" class="image-slot"></div>
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Judul"
          align="left"
          min-width="120px"
          sortable
          prop="title"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.title }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Tanggal Terbit"
          align="left"
          min-width="120px"
          sortable
          prop="year_released_at"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.year_released_at }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Status"
          align="left"
          min-width="120px"
          sortable
          prop="status"
        >
          <template slot-scope="scope">
            <div class="table-text">
              <el-tag :type="$helpers.comic.getTagTypeByStatus(scope.row.status)">
                {{ $helpers.string.ucWords(scope.row.status) }}
              </el-tag>
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Tipe"
          align="left"
          min-width="120px"
          sortable
          prop="type"
        >
          <template slot-scope="scope">
            <div class="table-text">
              <el-tag :type="$helpers.comic.getTagTypeByType(scope.row.type)">
                {{ $helpers.string.ucWords(scope.row.type) }}
              </el-tag>
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Created At"
          align="left"
          min-width="120px"
          sortable
          prop="created_at"
        >
          <template slot-scope="scope">
            <div class="table-text">
              {{ scope.row.created_at }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
          label="Aksi"
          align="center"
          min-width="140px"
          prop="dropdownAction"
        >
          <template slot-scope="scope">
            <div class="table-column-action">
              <el-button type="primary" icon="el-icon-edit" @click.prevent="toEditPage(scope.row.id)"/>
              <el-button
                type="danger"
                icon="el-icon-delete"
                @click.prevent="deleteSingleTableData(scope.row.id)"
              />
            </div>
          </template>
        </el-table-column>
      </data-tables-server>
    </el-card>
  </div>
</template>

<script>
import {AxiosError} from "axios";
import {StatusCodes} from "http-status-codes";

export default {
  data() {
    const defaultPaginationProps = this.$helpers.table.defaultPaginationProps

    return {
      listComicTable: {
        loading: false,
        deleteModal: null,
        selectedDataId: [],
        deletePayload: {
          id: []
        },
        payload: {
          paginated: true,
          page: 1,
          per_page: defaultPaginationProps.pageSize,
          search: ''
        },
        data: [],
        totalData: 0,
        currentPage: 1,
        paginationProps: defaultPaginationProps
      }
    }
  },

  computed: {
    pageRouteQuery() {
      return this.$route.query.page || 1
    }
  },

  watch: {
    '$route.query': {
      handler() {
        this.setQueryToRequestPayload()
        this.fetchListComicTableData()
      },
      deep: true
    }
  },

  mounted() {
    this.initDeleteModalComponent()
    this.setQueryToRequestPayload()
    this.fetchListComicTableData()
  },

  methods: {
    handleTableSelectionChange(selectedData) {
      this.listComicTable.selectedDataId = selectedData.map(data => data.id)
    },
    handleTableQueryChange(queryInfo) {
      if (queryInfo.type !== 'init') {
        this.setToQuery({
          page: queryInfo.page,
        })
      }
    },
    handleTableSearchChange(search) {
      if (search || search === '') {
        this.setToQuery({
          search
        })
      }
    },
    setQueryToRequestPayload() {
      const routeQueries = this.$route.query

      Object.assign(this.listComicTable.payload, {
        page: routeQueries.page || this.listComicTable.payload.page,
        search: routeQueries.search || this.listComicTable.payload.search
      })
    },

    toAddComicPage() {
      this.$router.push({
        path: '/admin/manage-comic/add'
      })
    },
    toEditPage(comicId) {
      this.$router.push({
        path: `/admin/manage-comic/edit/${comicId}`
      })
    },

    initDeleteModalComponent() {
      this.listComicTable.deleteModal = this.getBootstrapModal(this.$refs.deleteModal.$el)
    },
    deleteSingleTableData(dataId) {
      this.listComicTable.deletePayload.id = [dataId]
      this.listComicTable.deleteModal.show()
    },
    deleteMultipleTableData() {
      if (this.listComicTable.selectedDataId.length <= 0) {
        return this.$message({
          showClose: true,
          message: 'Harap pilih data yang akan dihapus',
          type: 'info'
        })
      }

      this.listComicTable.deletePayload.id = this.listComicTable.selectedDataId
      this.listComicTable.deleteModal.show()
    },

    async fetchListComicTableData() {
      this.listComicTable.loading = true

      try {
        const getComicsResp = await this.$services.comicAdmin().getComics({
          params: {
            paginated: this.listComicTable.payload.paginated,
            page: this.listComicTable.payload.page,
            per_page: this.listComicTable.payload.per_page,
            search: this.listComicTable.payload?.search
          }
        })

        if (getComicsResp.status === StatusCodes.OK) {
          this.listComicTable.data = getComicsResp.data?.data?.comics?.data || []
          this.listComicTable.totalData = getComicsResp.data?.data?.comics?.total || 0
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listComicTable.loading = false
    },

    async deleteComics() {
      this.listComicTable.loading = true

      try {
        const getComicsResp = await this.$services.comicAdmin().deleteComics({
          data: {
            id: this.listComicTable.deletePayload.id
          }
        })

        if (getComicsResp.status === StatusCodes.OK) {
          this.$message.success(getComicsResp.data?.message)
        }
      } catch (e) {
        if (e instanceof AxiosError && e.response.data) {
          this.$message.error(e.response.data?.message)
        } else {
          this.$message.error(e.message)
        }
      }

      this.listComicTable.selectedDataId = []
      this.listComicTable.deletePayload = {
        id: []
      }
      await this.fetchListComicTableData()
      this.listComicTable.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
.page-admin-mc-lct {
  .card-table {
    .header-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;

      .title {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .subtitle {
        width: 100%;
        font-size: 1rem;
        font-weight: normal;
      }

      .table-action-container {
        flex-wrap: wrap;
        margin-left: auto;
      }

      .input-search-container {
        flex: 1;
        margin-right: 15px;
      }
    }

    .table-list-comic {
      padding-bottom: 15px;

      .table-column-action {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cover-container {
        .cover-img {
          width: 89px;
          height: 130px;

          .image-slot {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: #f5f7fa;
            color: #909399;

            i {
              font-size: 30px;
            }
          }
        }
      }

    }
  }
}

@media (max-width: 576px) {
  .page-admin-mc-lct {
    .card-table {
      .header-container {
        display: inherit;

        .table-action-container {
          margin-left: unset;
          margin-top: 15px;
        }

        .input-search-container {
          width: 100%;
        }
      }
    }
  }
}
</style>
