<template>
  <div class="genre-bbg">
    <span>{{ genre.name }}</span>

    <nuxt-link
      class="link"
      :to="'/comics?genre=' + genre.slug"
    ></nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    genre: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.genre-bbg {
  font-size: 16px;
  background: $primary-color;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  border: 1px solid $primary-color;
  min-width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .link {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.genre-bbg:hover {
  background: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
}
</style>
